<style>
    {% include directory ~ '/templates/@files/styles/loader.css' ignore missing %}
</style>

<div class="loader-wrapper">
    <div class="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<script>
    {% include directory ~ '/templates/@files/scripts/loader.js' ignore missing %}
</script>