<style>
    {% include directory ~ '/templates/@files/styles/loader.css' ignore missing %}
</style>

<script>
    {% include directory ~ '/templates/@files/scripts/loader.js' ignore missing %}
</script>