{%
  set body_classes = [
    'site',
    not root_path ? 'home' : 'not-home-' ~ root_path|clean_class,
    language ? 'lang-' ~ language|clean_class,
    not logged_in ? 'logout' : 'login',
    not node_type ? 'config' : 'nodo-' ~ node_type|clean_class,
    current_path ? 'current-' ~ current_path|clean_class,
  ]
%}

<!DOCTYPE html>
<html {{ html_attributes }}>

<head> 
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <meta property="fb:app_id" content=""> 

  <js-placeholder token="{{ placeholder_token|raw }}">
</head>

<body id="site" {{ attributes.addClass(body_classes) }}>

  {% if not logged_in %} 
    {% include directory ~ '/templates/@files/calls/loader-pre.html.twig' ignore missing %}  
    {% include directory ~ '/templates/@files/calls/loader-post.html.twig' ignore missing %} 
  {% endif %}

  <style media="all"> 
    {% include directory ~ '/templates/@files/styles/arkyweb.css' ignore missing %}
  </style>    

  {{ page_top }}
  {{ page }} 
  {{ page_bottom }}

  <css-placeholder token="{{ placeholder_token|raw }}">

  <script>
    {% include directory ~ '/templates/@files/scripts/font.js' ignore missing %}
  </script> 

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

  <script>
    {% include directory ~ '/templates/@files/scripts/arkyweb.js' ignore missing %}
  </script>


</body>

</html>