{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}  
  {% import _self as menus %}

{%
    set menu_classes = [
      'menu', 'flex',
    ]
  %}
  {# 1. #}
  {%
    set submenu_classes = [
      'menu-sub', 
    ]
%}

  {% if items %}

    {% if menu_level == 0 %}
      <ul{{ 
        attributes
          .addClass(menu_classes)
          .setAttribute('itemscope', '')
          .setAttribute('itemtype', 'https://www.schema.org/SiteNavigationElement') }}>
    {% else %}
      <ul{{ 
        attributes
          .removeClass(menu_classes)
          .addClass(submenu_classes)
          .setAttribute('itemscope', '')
          .setAttribute('itemtype', 'https://www.schema.org/SiteNavigationElement') }}>
    {% endif %}

    {% for item in items %}

      {% set menu_attributes = menus_attribute(items|keys[loop.index0]) %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          menu_attributes.item.class ? menu_attributes.item.class
        ]
      %}
      {%
        set link_classes = [
          'menu-link', 'decolink',
          item.is_expanded ? 'menu-link-expanded',
        ]
      %}

      {%
        set classes_sub = [
          'menu-item-sub',
          item.is_expanded ? 'menu-item--expanded-sub',
          item.is_collapsed ? 'menu-item--collapsed-sub',
          item.in_active_trail ? 'menu-item--active-trail-sub',
          menu_attributes.item.class ? menu_attributes.item.class
        ]
      %}
      {%
        set link_classes_sub = [
          'menu-link-sub', 'decolink',
        ]
      %}

      {% if menu_level == 0 %}

      <li data-counter="menu-item-0{{ loop.index }}" itemprop="name" {{ item.attributes.addClass(classes) }}

        {% if menu_attributes.item.id %}
          {{ item.attributes.setAttribute('id', menu_attributes.item.id) }}
        {% endif %}
        {% if menu_attributes.item.style %}
          {{ item.attributes.setAttribute('style', menu_attributes.item.style) }}
        {% endif %}
      >


        {% if item.below %}
          {{ 
            link(
              item.title, 
              item.url, 
              item.attributes
                .setAttribute('title', item.title)
                .setAttribute('alt', item.title)
                .setAttribute('itemprop', 'url')
                .removeClass(classes)
                .addClass(link_classes), 
              menu_attributes.link) }} 
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {{ link(
            item.title, 
            item.url, 
            item.attributes
              .setAttribute('title', item.title)
              .setAttribute('alt', item.title)
              .setAttribute('itemprop', 'url')
              .removeClass(classes)
              .addClass(link_classes), 
            menu_attributes.link
          ) }}
        {% endif %}

      </li>

      {% else %}

      <li data-counter="menu-item-sub-0{{ loop.index }}" itemprop="name" {{ item.attributes.addClass(classes_sub) }}

        {% if menu_attributes.item.id %}
          {{ item.attributes.setAttribute('id', menu_attributes.item.id) }}
        {% endif %}
        {% if menu_attributes.item.style %}
          {{ item.attributes.setAttribute('style', menu_attributes.item.style) }}
        {% endif %}
      >
        {{ link(
          item.title, 
          item.url, 
          item.attributes
            .setAttribute('title', item.title)
            .setAttribute('alt', item.title)
            .setAttribute('itemprop', 'url')
            .removeClass(classes_sub)
            .addClass(link_classes_sub), 
          menu_attributes.link
        ) }}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}

      </li>

      {% endif %}

    {% endfor %}

    </ul>
  {% endif %}
{% endmacro %}