{% set TITLE = node.label %}
{% set CATALOGUE_COLOR = node.field_class_color.value %}

{% set BANNER_IMG_URL = file_url(node.field_img_promo.entity.fileuri | image_style('max250w') ) %} 
{% set BANNER_IMG_ALT = node.field_img_promo.alt %}
{% set BANNER_IMG_TITLE = node.field_img_promo.title %} 

{{ attach_library('arky8/styles.tienda') }}

{# MIANPAGE: Content + PostContent #}
<main id="mainpage" class="mainpage pagina-tienda">
    <section class="color" data-class="{{ CATALOGUE_COLOR }}">
        <section class="mainpage-banner espaciado relativo clipeado">
            <article class="contenedor pageheader flex m-flex-2">
                <div class="pageheader-text">
                    {{ drupal_block('system_breadcrumb_block') }}
                    <h1 id="title" class="title title-color bevan">{{ TITLE }}</h1>
                    {% if node.id in ['4', '6'] and node.body.value %} 
                    <article class="pageheader-maintext"> 
                        {{ node.body.0.value | raw }} 
                        <a class="button button--red-orange" href="#pedidos" alt="Quiero ser distribuidor" title="Quiero ser distribuidor" style="margin-top: 1rem;">
                            Haga su pedido
                        </a>
                    </article> 
                    {% endif %}
                </div>
                <figure class="pageheader-image centrado">
                    <img src="{{ BANNER_IMG_URL }}" alt="{{ BANNER_IMG_ALT }}" title="{{ BANNER_IMG_TITLE }}" class="img" loading="lazy" />
                </figure>
            </article>  
        </section>

        {% if logged_in %}
        <aside class="tabulador contenedor center espaciado-menor">
            {{ drupal_block('local_tasks_block') }}
        </aside>
        {% endif %}   

        {% if page.content %}

        {% if node.id not in ['4', '6'] %}
        <section class="mainpage-content"> 
            <div class="contenedor espaciado">
                <article class="impacto center">
                    <h3 class="impacto-title">{{ "Nuestra fantástica variedad de productos"|t }}</h3>
                </article>
                <div class="vista-thumbnails">
                    {{ drupal_view('productos', 'products') }}
                </div>
            </div>
        </section>
        {% endif %}

        {% if node.id in ['4', '6'] %} 

        {{ attach_library('arky8/styles.form') }} 
        {{ attach_library('arky8/import.swiper.css') }} 
        {{ attach_library('arky8/import.swiper.js') }} 

        <section class="contenedor espaciado">
            <div class="swiper-container"> 
                <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ImageGallery">
                    {% for carusel in node.field_carusel %}
                    <figure class="swiper-slide swiper-slide-{{ loop.index }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <img class="catalogo-img" alt="{{ carusel.alt }}" title="{{ carusel.title }}" src="{{ file_url( carusel.entity.uri.value ) }}" itemprop="thumbnail" />
                    </figure>
                    {% endfor %}    
                </div>  
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <section id="pedidos" class="mainpage-content espaciado"> 
            <div class="contenedor">
                <article class="impacto center">
                    <h3 class="impacto-title bevan">{{ "Haga su pedido"|t }}</h3>
                </article>
            </div>
            <div class="form contenedor">
                {{ drupal_entity('webform', 'pedidos') }}
            </div>
        </section>

        {% endif %}

        {% endif %} {# ends page.content #}
    </section>

{# PREFOOTER #}

{% if node.getType in ['tienda'] %}
    {{ drupal_entity('node', '12', 'megalink') }}
{% endif %} 
    
</main> 