<div class="carrito dropdow uk-inline">

  <div class="carrito-button dropdown-toggle">  
      <span class="carrito-icon">
        <svg viewBox="0 0 51.2 56.3" xmlns="http://www.w3.org/2000/svg"><path d="m46.8 13.4c0-1.5-1.2-2.7-2.7-2.7-11.7 0.1-22.4 0.5-28.7 1.2v-0.3l-0.1-2.3-0.1-1.2c0-0.5-0.1-1.1-0.3-1.6-0.6-1.9-2.2-3.5-4.1-4.1-0.4-0.1-0.8-0.1-1.3-0.2h-1.2l-1.7 0.1c-1.1 0.1-2.1 0.2-3 0.3-0.3 0-0.4 0.7-0.4 1.4s0.2 1.2 0.4 1.2c0.9 0.1 1.9 0.2 3 0.3l1.7 0.2c0.2 0 0.4 0 0.7 0.1 0.2 0 0.3 0.1 0.5 0.2 0.7 0.3 1.1 1 1.3 1.7v0.5 1l-0.1 2.3c-0.2 6.3-0.3 13.4-0.4 20.6v1.3c0 0.6 0 1.2 0.1 1.7 0.6 4 3.9 7 7.9 7.3h1.5 1.2l2.5-0.1 4.8-0.2c6.3-0.2 11.6-0.6 15.2-1 0.3 0 0.4-0.7 0.4-1.5s-0.2-1.3-0.4-1.3c-3.6-0.5-8.9-0.8-15.2-1l-4.8-0.2-2.5 0.2h-1.3-1.1c-1-0.1-1.8-0.6-2.4-1.4-0.3-0.4-0.4-0.8-0.5-1.3-0.1-0.3 0-1.4 0-2.3v-2c4.2 0.5 10.4 0.8 17.4 1l5.9 0.1h0.8 0.9c2.8-0.2 5.1-2.1 5.8-4.8 0.1-0.4 0.2-0.9 0.2-1.3v-0.5-5.1l0.1-6.3zm-6 12.6c-0.1 0.1-0.3 0.1-0.4 0.1h-0.6-0.8l-5.9 0.2c-7 0.2-13.2 0.6-17.4 1 0-4.3-0.1-8.4-0.2-12.3 5.8 0.6 15.3 1 25.9 1.2v9.2c-0.1 0.2-0.3 0.4-0.6 0.6z"/><circle cx="21.8" cy="50.3" r="3.2"/><circle cx="35.7" cy="50.3" r="3.2"/></svg>
      </span>
      {% if count > 1 %}
        <span class="carrito-count">{{ count }}</span>
      {% else %}
        <span class="carrito-count">{{ count }}</span>
      {% endif %} 
  </div>

  {% if content %}
  <div class="carrito-drop dropdown-menu" uk-dropdown>
    <div class="carrito-inner">
      <div class="carrito-items">
        {{ content }}
      </div>
      <div class="carrito-link">
        {{ links }}
      </div>
    </div>
  </div>
  {% endif %} 
  
</div>