{% set TITLE = product_entity.title.value %}

{% set TIENDA_COLOR = product_entity.field_categoria.entity.field_class_color.value %}
{% set TIENDA_CATEGORIA = product_entity.field_categoria.entity.label %}

{% set PRODUCT_CONDICIONAL = product.field_condicionales %}
{% set PRODUCT_CONDICIONAL_0 = product_entity.field_condicionales[0].value %}

{% set PRODUCT_IMG_SRC_0 = product_entity.field_imagen[0].entity.uri.value %}

{{ attach_library('arky8/styles.tienda') }}

<section {{ attributes.addClass('color') }} data-class="{{ TIENDA_COLOR }}">

    <section class="mainpage-banner espaciado-menor relativo clipeado">
        <article class="contenedor pageheader flex m-flex-2">

            <div class="pageheader-ghost">
                <nav role="navigation" aria-labelledby="system-breadcrumb" class="bread"> 
                    <ol class="bread-items flex">
                        <li class="bread-item">
                            <a class="bread-link" href="/productos">{{ 'Productos'|t }}</a>
                        </li>
                        <li class="bread-item">
                            <a class="bread-link" href="./">{{ TIENDA_CATEGORIA }}</a>
                        </li>
                        <li class="bread-item">
                            {{ TITLE }}
                        </li>
                        </ol>
                </nav>
                <h3 class="title title-color bevan">{{ TITLE }}</h3>
            </div>

            <div class="pageheader-message">
                {{ drupal_messages() }}
            </div>

            <figure class="pageheader-image centrado">
                <img src="{{ file_url( product_entity.field_imagen.entity.fileuri ) }}" alt="{{ product_entity.field_imagen.alt }}" title="{{ product_entity.field_imagen.title }}" class="img" loading="lazy" />
            </figure> 

            <div class="pageheader-text">
                <div class="pageheader-text-title">
                    <nav role="navigation" aria-labelledby="system-breadcrumb" class="bread"> 
                        <ol class="bread-items flex">
                            <li class="bread-item">
                                <a class="bread-link" href="/productos">{{ 'Productos'|t }}</a>
                            </li>
                            <li class="bread-item">
                                <a class="bread-link" href="./">{{ TIENDA_CATEGORIA }}</a>
                            </li>
                            <li class="bread-item">
                                {{ TITLE }}
                            </li>
                            </ol>
                    </nav>
                    <h1 class="title title-color bevan">{{ TITLE }}</h1>
                </div>

                <div class="producto--variaciones">
                    {{ product.variations }}
                </div>

                {% if PRODUCT_CONDICIONAL_0 %}
                <ul class="producto--condicional">
                {% for key, item in PRODUCT_CONDICIONAL if key|first != '#' %}
                    <li class="producto--condicional-item item-{{ key + 1 }}">{{ item }}</li>
                {% endfor %} 
                </ul>
                {% endif %}
            </div>

        </article>
    </section>

    {% if logged_in %}
        <aside class="tabulador contenedor center espaciado-menor">
            {{ drupal_block('local_tasks_block') }}
        </aside>
    {% endif %}

    {% if product.body|render|trim is not empty %}
    <section class="mainpage-content espaciado-top relativo">
        <article class="contenedor">
            <div class="producto-cuerpo">{{ product.body }}</div>
            {% if product.field_detalles|render|trim is not empty %}
            <h4 class="producto-subtitle">{{ 'Mas detalles del producto'|t }}</h4>
            <div class="producto-detalles flex flex-2">
                <div class="item-01">{{ product.field_detalles[0] }}</div>
                {% if product.field_detalles[1]|render|trim is not empty %}
                <div class="item-02">{{ product.field_detalles[1] }}</div>
                {% endif %}
            </div>
            {% endif %}
        </article>
    </section>
    {% endif %}

    <article class="contenedor espaciado-bottom">
        <h4 class="producto-subtitle">{{ 'Productos que te gustaran'|t }}</h4> 
        <section class="productos--listado">
            {% for key, item in product.field_relacionados if key|first != '#' %}
            <div class="productos--listado-item item-{{ key + 1 }}">{{ item }}</div>
            {% endfor %} 
        </section> 
    </article>

        {% if page.tabs and logged_in %}
    <section class="only-tabs">
        {{ page.tabs }}
    </section>
    {% endif %}

</section> 