{% set URL = product_url %}
{% set TITLE = product_entity.title.value %}

{% set PRODUCT_SUMMARY = product.field_producto_summary %}
{% set PRODUCT_SUMMARY_0 = product_entity.field_producto_summary[0].value %}

{% set PRODUCT_IMG_SRC_0 = product_entity.field_imagen[0].entity.uri.value %}

<a{{ attributes.addClass('producto--thumbnail') }} href="{{ URL }}" aria-label="{{ TITLE }}">
    
    {% if PRODUCT_IMG_SRC_0 %}
    <figure class="producto--thumbnail-image">
        <img src="{{ PRODUCT_IMG_SRC_0 | image_style('thumbnail') }}" />
    </figure>
    {% endif %}

    <h3 class="producto--thmubnail-title">{{ TITLE }}</h3>

    {% if product_entity.field_producto_summary[0].value %}
    <ul class="producto--thumbnail-summary">
    {% for key, item in PRODUCT_SUMMARY if key|first != '#' %}
        <li class="producto--thumbnail-summary-item item-{{ key + 1 }}">{{ item }}</li>
    {% endfor %} 
    </ul>
    {% endif %}

    <small class="producto--thumbnail-button">
        {{ 'Saber más y/o cotizar'|t }}
    </small>

</a> 