<header id="headpage" class="headpage">
    {% if page.header_top %}
    <section class="headtop">
        <div class="contenedor headtop-contenedor flex"> 
            {{ page.header_top }} 
        </div>
    </section>
    {% endif %}

    {% if page.header_main %}
    <section class="headmain">
        <div class="contenedor headmain-contenedor flex">
            {{ page.header_main }} 
            <div id="toggle" class="toggle toggle--left" aria-hidden="true">
                <span class="toggle--left-icon">
                    <span class="toggle--left-icon-bar"></span>
                </span>
                <span class="toggle--left-text">Menú</span>
            </div>
        </div>
    </section>
    {% endif %}
</header>

{% if page.menu %}
<nav id="menu" class="menumobile">
    {{ page.menu }} 
</nav>
<div id="toggleClose" class="toggle--close"></div>
{% endif %}