{# MIANPAGE: Content + PostContent #}
<main id="mainpage" class="mainpage">
    {% if page.pban %}
    <section class="mainpage-banner">
        {{ page.pban }}
    </section>
    {% endif %}

    {% if page.tabs and logged_in %}
    <section class="only-tabs">
        {{ page.tabs }}
    </section>
    {% endif %}

    {% if page.content %}
    <section class="mainpage-content"> 
        {{ page.content }} 
    </section>
    {% endif %}

    {% if page.pc %}
    <section class="mainpage-postcontent">
        {{ page.pc }}
    </section>
    {% endif %}

    {% if page.pfoo %}
    <section class="mainpage-prefooter">
        {{ page.pfoo }}
    </section>
    {% endif %}
</main>