{# MIANPAGE: Content + PostContent #}
<main id="mainpage" class="mainpage pagina-item">

    {{ page.content }}

    {% if page.pc %}
    <section class="mainpage-postcontent">
        {{ page.pc }}
    </section>
    {% endif %}

    {% if page.pfoo %}
    <section class="mainpage-prefooter">
        {{ page.pfoo }}
    </section>
    {% endif %}
    
</main>