body { overflow-x: hidden; }
body, body * { margin: 0; padding: 0; text-decoration: inherit; }
body { color: var(--color-blue); font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 500; }
@media (min-width: 900px) { body { font-size: 18px; } }
*, *:before, *:after { box-sizing: border-box; }

a { color: inherit; }
ol, ul { list-style: none; }
h1, h2, h3, b, strong, h4, h5, h6 { font-weight: 400; line-height: 1; } 
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; object-fit: cover; object-position: center; }
fieldset { border: 0; }
.visually-hidden, .hidden, .sr-only { display: none; }

:root {
    --espacios: 1rem; --banner-page: 80%;
    --color-yellow: #FFFF00; --color-ambar-light: #FFEBAA; --color-ambar: #F4C20A; --color-red: #EA0029; --color-orange: #FF6400; --color-blue: #2E3092;  
    --color-pink: #FFF6FA; --color-violeta: #5A0046;
}
@media (min-width: 600px) {
:root { --espacios: 2rem; --banner-page: 250px; }   
}
@media (min-width: 900px) {
:root { --espacios: 3rem; }   
}
@media (min-width: 1200px) {
:root { --espacios: 4.5rem; --banner-page: 350px; }   
}
@media (min-width: 1440px) {
:root { --espacios: 6.25rem; }   
}

[class*='wf'] body { font-family: Montserrat; }
[class*='wf'] .bevan { font-family: Chango }

.contenedor {
    justify-content: space-between;
    padding-left: var(--espacios);
    padding-right: var(--espacios);
    position: relative;
    width: 100%;
} 

.arkyweb {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative; 
    overflow-x: hidden;
}
.headerpage,
.footerpage,
.mainpage { 
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 0;
}
.mainpage {  
    flex-grow: 1;
    padding-top: 90px;
}
@media (min-width: 900px) {
.mainpage {   
    padding-top: 110px;
}  
}

.menumobile,
.toggle--close { left: -100vw; }

.tc { text-align: center; }
p { line-height: 1.5; }