{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="bread">
    <h3 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h3>
    <ol class="bread-items flex">
    {% for item in breadcrumb %}
      <li class="bread-item">
        {% if item.url %}
          <a class="bread-link" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}