{% set TP = title_prefix %} 
{% set TS = title_suffix %}

{% set PARA_TITLE = paragraph.field_easy_title.value %}
{% set PARA_BODY = paragraph.field_easy_body.value %}
{% set PARA_LINK_TITLE = paragraph.field_easy_link.title %}
{% set PARA_LINK_URL = paragraph.field_easy_link.0.url %}

<article{{ attributes.addClass('blk') }}>

{{ TP }}{{ TS }}

    
        <header class="blk--head center flex-center auto">
            <h4 class="blk-title">{{ PARA_TITLE }}</h4>
            <p class="blk-body">{{ PARA_BODY }}</p>
        </header>
        <ul class="blk--items flex">
            {% for key, item in content.field_gsvg_icons if key|first != '#' %}
                <li class="blk-item blk-item-item-0{{ loop.index }}">{{ item }}</li>
            {% endfor %} 
        </ul>
        <footer class="blk--foot center">
            <a class="button button--red" href="{{ PARA_LINK_URL }}" alt="{{ PARA_LINK_TITLE }}" title="{{ PARA_LINK_TITLE }}">
                {{ PARA_LINK_TITLE }}
            </a>
        </footer>

</article>