{% set TP = title_prefix %} 
{% set TS = title_suffix %}

{% set PARA_TITLE = paragraph.field_easy_title.value %}
{% set PARA_BODY = paragraph.field_easy_body.value %} 

<article{{ attributes.addClass('blk') }}>

{{ TP }}{{ TS }}
    
        <header class="blk--head flex-center">
            <h4 class="blk-title bevan">{{ PARA_TITLE }}</h4>
            <p class="blk-body">{{ PARA_BODY }}</p>
        </header>
        <ul class="blk--items flex">
            {% for key, item in content.field_gimg_images if key|first != '#' %}
                <li class="blk-item blk-item-0{{ loop.index }}">{{ item }}</li>
            {% endfor %} 
        </ul> 

</article>