<div class="flex uk-nav uk-navbar-dropdown-nav">

<ul class="menubasic flex flex-2">
    {% for key, item in content.field_menu_sub if key|first != '#' %}
        <li class="menubasic-item">{{ item }}</li>
    {% endfor %} 
</ul>

</div>