{% set TP = title_prefix %} 
{% set TS = title_suffix %}
 
{% set PARA_BODY = paragraph.field_easy_body.value %} 
{% set PARA_ICON = content.field_easy_icon %}

<article{{ attributes.addClass('blk-item-contenido') }}>

{{ TP }}{{ TS }}
    
    <figure class="blk-item-icon">{{ PARA_ICON }}</figure>
    <p class="blk-item-text">{{ PARA_BODY }}</p>

</article>