{% set TP = title_prefix %} 
{% set TS = title_suffix %}

{% set PARA_TITLE = paragraph.field_easy_title.value %}
{% set PARA_BODY = paragraph.field_easy_body.value %} 

<article{{ attributes.addClass('blk') }}>

{{ TP }}{{ TS }}
    
        <header class="blk--head flex-center">
            <h4 class="blk-title">{{ PARA_TITLE }}</h4>
            <p class="blk-body">{{ PARA_BODY }}</p>
        </header>
        <ul class="blk--items ziggy media--items">
            {% for key, item in content.field_gtxt_textos if key|first != '#' %}
                <li class="blk-item blk-item-0{{ loop.index }} {{ loop.index0 is odd ? 'ziggy-odd' : 'ziggy-even' }}">{{ item }}</li>
            {% endfor %} 
        </ul> 

</article>