{% set TP = title_prefix %} 
{% set TS = title_suffix %}
 
{% set PARA_IMAGE_URL = file_url(paragraph.field_easy_image.entity.fileuri | image_style('max250w') ) %} 
{% set PARA_IMAGE_ALT = paragraph.field_easy_image.alt %}
{% set PARA_IMAGE_TITLE = paragraph.field_easy_image.title %} 

{% set PARA_TITLE = paragraph.field_easy_title.value %}
{% set PARA_CORPO = paragraph.field_easy_corpo.0.value %}

<article{{ attributes.addClass('blk dec rel flex flex-2-1') }}>

{{ TP }}{{ TS }}
    
    <div class="blk-corpo">
        <h4 class="blk-title">{{ PARA_TITLE }}</h4>
        <div class="blk-body">{{ PARA_CORPO | raw }}</div>
    </div>
    <figure class="blk-img">
        <img src="{{ PARA_IMAGE_URL }}" alt="{{ PARA_IMAGE_ALT }}" title="{{ PARA_IMAGE_TITLE }}" class="img" />
    </figure>

</article>