{% set MENU_TITLE = paragraph.field_menu_go.title %}
{% set MENU_URL = paragraph.field_menu_go.0.url %}

{% if paragraph.field_menu_item.value %}
<a href="#" alt="{{ MENU_TITLE }}" class="mmmain-link relativo expandido">
{% else %}
<a href="{{ MENU_URL }}" alt="{{ MENU_TITLE }}" class="mmmain-link relativo">
{% endif %}
    <span>{{ MENU_TITLE }}</span>
</a>

{% if paragraph.field_menu_item.value %}
<div class="submenu dropdown-menu uk-navbar-dropdown" uk-dropdown>
    {% for key, item in content.field_menu_item if key|first != '#' %}
        {{ item }}
    {% endfor %} 
</div>
{% endif %}