{% set TP = title_prefix %} 
{% set TS = title_suffix %}
 
{% set PARA_IMAGE_URL = file_url(paragraph.field_easy_image.entity.fileuri) %} 
{% set PARA_IMAGE_ALT = paragraph.field_easy_image.alt %}
{% set PARA_IMAGE_TITLE = paragraph.field_easy_image.title %} 

<figure{{ attributes.addClass('images-item') }}>

{{ TP }}{{ TS }}
    
    <img src="{{ PARA_IMAGE_URL }}" alt="{{ PARA_IMAGE_ALT }}" title="{{ PARA_IMAGE_TITLE }}" class="img" />

</figure>