<main id="mainpage" class="mainpage my-checkout">

        <section id="bannerpage" class="banner espaciado-mayor es-decorativo picapiedra relativo"> 
            <div class="contenedor flex center">  

                <article class="banner-text">
                    <h1 id="title" class="title bevan">{{ drupal_title() }}</h1> 
                </article>

            </div>
        </section> 

        <div class="contenedor">

            {{ drupal_messages() }}

        </div>

        <div class="contenedor espaciado-menor">

            <div class="form">
                {{ page.content }} 
            </div>

        </div>

</main>