{% if page.footer %}
<footer class="footerpage tc">
    <div class="contenedor footerpage-contenedor">  
        {{ page.footer }} 
        <p class="foot--arkyweb">Página Web y Diseño Web hecho en Lima, Perú por <a href="https://arkyweb.com" target="_blank" rel="sponsored noreferrer noopener" class="decolink">Arkyweb</a> - {{ 'now'|date('Y') }}</p>
    </div> 
</footer>
{% endif %}