{% if page.menu %}
<nav id="menu" class="menumobile">
    {{ page.menu }} 
    <p class="mobile--arkyweb">Página Web y Diseño Web hecho en Lima, Perú por <a href="https://arkyweb.com" target="_blank" rel="sponsored noreferrer noopener" class="decolink">Arkyweb</a> - {{ 'now'|date('Y') }}</p>
</nav>
<div id="toggleClose" class="toggle--close"></div>
{% endif %}