{% if view_mode == 'preferidos' %}

{{ attach_library('arky8/styles.preferidos') }}

{% if node.field_gimg.value %}
<section id="preferidos" class='preferidos w-flex-3 espaciado relativo center'> 
    <div class="contenedor">

        {% for item in node.field_gimg %}
            <header class="blk--head flex-center">
                <h4 class="blk-title bevan">{{ item.entity.field_easy_title.value }}</h4>
                <p class="blk-body">{{ item.entity.field_easy_body.value }}</p>
            </header> 
            <ul class="blk--items flex">
            {% for items in item.entity.field_gimg_images %} 
                <li class="blk-item blk-item-0{{ loop.index }}">
                    <figure class='images-item'>
                        <img 
                            class="lazy img" height="{{ items.entity.field_easy_image.height }}" width="{{ items.entity.field_easy_image.width }}"
                            alt="{{ items.entity.field_easy_image_img.alt }}" title="{{ items.entity.field_easy_image_img.title }}"
                            data-source="{{ file_url(items.entity.field_easy_image.entity.fileuri ) }}" 
                            data-srcset="{{ file_url(items.entity.field_easy_image.entity.fileuri ) }}" />
                        <noscript>
                            <img  
                                class="img" alt="{{ items.entity.field_easy_image.alt }}" title="{{ items.entity.field_easy_image.title }}" 
                                src="{{ file_url(items.entity.field_easy_image.entity.fileuri) }}" />
                        </noscript>     
                    </figure>
                </li> 
            {% endfor %} 
            </ul> 
        {% endfor %} 

    </div>
</section> 
{% endif %}

{% else %}

{# BANNER: Op. Imagen y CTA #}
{% if node.field_intro_img[0].value|length > 0 %} 
<section id="bannerpage" class="banner espaciado-mayor no-decorativo relativo" style="background-image: url({{ file_url(node.field_intro_img.entity.fileuri ) }})"> 
{% else %}
<section id="bannerpage" class="banner espaciado-mayor es-decorativo picapiedra relativo">
{% endif %}
    
    {% if node.field_clase.value %}
    <div class="contenedor flex center big">  
    {% else %}
    <div class="contenedor flex center">  
    {% endif %} 
        <article class="banner-text">
            <h1 id="title" class="title bevan">
                {% if node.field_intro_img[0].value|length > 0 %}
                <span>
                {% endif %}
                    {{ node.label }}
                {% if node.field_intro_img[0].value|length > 0 %}
                </span>
                {% endif %}
            </h1>
            {% if node.field_cta[0].value|length > 0 and not node.field_intro_img[0].value|length > 0 %}
            {{ node.field_intro.0.value | raw }}
            <a class="button button--red-orange" href="{{ node.field_cta.0.url }}" alt="{{ node.field_cta.title }}" title="{{ node.field_cta.title }}">
                {{ node.field_cta.title }}
            </a>
            {% endif %}
        </article>

        {% if node.field_clase.value %}
            <article class="bigger"> 
                {{ node.field_intro.0.value | raw }}
                <br>
                <a class="button button--red-orange" href="/" title="Volver al home">
                    Volver al home
                </a>
            </article>
        {% endif %}
    </div>

</section> 

{% if logged_in %}
<aside class="tabulador contenedor center espaciado">
    {{ drupal_block('local_tasks_block') }}
</aside>
{% endif %}

{% if node.field_clase.value %}
<div class="clasepage"></div>
{% endif %}

{% if node.field_intro_img[0].value|length > 0 %}
{% if node.body.value or node.field_intro.value %}
<section id="defaultpage" class="default espaciado relativo">  
    <div class="contenedor">

        {% if node.field_intro_img[0].value|length > 0 %} 
        <article class="default-big"> 
        {{ node.field_intro.0.value | raw }}
        </article>
        {% endif %}

        {% if node.body.value %}
        <article class="default-text"> 
            {{ node.body.0.value | raw }} 
        </article>
        {% endif %}

        {% if node.body.value %}
        <article class="default-text default-list">  
            {{ node.field_sub_body.0.value | raw }}
        </article>
        {% endif %} 

    </div>
</section> 
{% endif %} 
{% endif %}

{# ACORDION #}
{% if node.field_region[0].value|length > 0 %}
<section id="regionpage" class="espaciado"> 
    <div class="contenedor">

    <div class="blk center">
        <h4 class="blk-title">{{ node.field_region_title.value }}</h4>
    </div>

    <ul id="accordion" class="accordion" role="tablist" aria-multiselectable="true" uk-accordion>
        {% for region in node.field_region %} 
        <li class="accordion-item accordion-item-0{{ loop.index }}"> 
                <a  href="#"
                    id="header-{{ region.entity.field_easy_title.value | lower }}"   
                    class="region-head uk-accordion-title">
                    {{ region.entity.field_easy_title.value }}
                </a>   
                <div 
                    id="{{ region.entity.field_easy_title.value | lower }}" 
                    class="uk-accordion-content region-list collapse card-body" 
                    role="tabpanel" 
                    aria-labelledby="header-{{ region.entity.field_easy_title.value | lower }}">
                    <ul class="flex flex-2">
                    {% for departamento in region.entity.field_reg_departamento %}  
                        <li class="region-item region-item-0{{ loop.index }} {{ loop.index0 is odd ? 'ziggy-odd' : 'ziggy-even' }}">
                            <h4 class="departamento-name">{{ departamento.entity.field_easy_title.value }}</h4>
                            <ul class="departamento-list flex flex-2">
                                {% for persona in departamento.entity.field_dep_distribuidor %}   
                                    <li class="depa depa-0{{ loop.index }} {{ loop.index0 is odd ? 'depa-odd' : 'depa-even' }}">
                                        <h5 class="persona-name">{{ persona.entity.field_easy_name.value }}</h5>
                                        <p class="persona-address"><strong>Dirección:</strong> {{ persona.entity.field_easy_address.value }}</p>
                                        {% if persona.entity.field_easy_email.value %}
                                        <p class="persona-email">
                                            <strong>Email: </strong> <a href="mailto:{{ persona.entity.field_easy_email.value }}" class="decolink" alt="Correo de {{ persona.entity.field_easy_name.value }}" title="Correo de {{ persona.entity.field_easy_name.value }}">{{ persona.entity.field_easy_email.value }}</a>
                                        </p>
                                        {% endif %}
                                        {% if persona.entity.field_easy_phone.value %}
                                        <p class="persona-phone">
                                            <strong>Teléfono:</strong> <a href="tel:{{ persona.entity.field_easy_phone.value }}" class="decolink" alt="Telefono de {{ persona.entity.field_easy_name.value }}" title="Telefono de {{ persona.entity.field_easy_name.value }}">{{ persona.entity.field_easy_phone.value }}</a>
                                        </p>
                                        {% endif %}
                                    </li>
                                {% endfor %} 
                            </ul>
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </li>
        {% endfor %}  
    </ul>

    </div>
</section>
{% endif %}

{# ZIGZAG BLOQUE #}
{% if node.field_gtxt.value %}
<section id="morepage" class='mediatext espaciado white blue'> 
    <div class="contenedor">

        {% for item in node.field_gtxt %}

        <header class="blk--head flex-center">
            <h4 class="blk-title bevan">{{ item.entity.field_easy_title.value }}</h4>
            <p class="blk-body">{{ item.entity.field_easy_body.value }}</p>
        </header>
        <ul class="blk--items ziggy media--items flex flex-3">
            {% for items in item.entity.field_gtxt_textos %} 
                <li class="blk-item blk-item-0{{ loop.index }} {{ loop.index0 is odd ? 'ziggy-odd' : 'ziggy-even' }}">
                    <article class="blk blk-ziggy relativo center">
                        <figure class="blk-img">
                            <img src="{{ file_url(items.entity.field_easy_image.entity.fileuri | image_style('max250w') ) }}" alt="{{ items.entity.field_easy_image.alt }}" title="{{ items.entity.field_easy_image.title }}" class="img" />
                        </figure>
                        <div class="blk-corpo">
                            <h4 class="blk-title bevan">{{ items.entity.field_easy_title.value }}</h4>
                            <div class="blk-body">{{ items.entity.field_easy_corpo.0.value | raw }}</div>
                        </div>
                    </article>
                </li>
            {% endfor %} 
        </ul> 

        {% endfor %}  

    </div>
</section>
{% endif %}

{# NODO 8: La Empresa - node.html #}
{% if node.id == '8' %}
    {{ drupal_entity('node', '8', 'preferidos') }}
{% endif %}
{# NODO 13: Productos - node--home.html #}
{% if node.id == '13' %}
    {{ drupal_entity('node', '1', 'banner') }}
{% endif %}

{# FORMULARIOS: Distribuidores - Contacto #}
{% if node.id in ['9', '10'] %}
{{ attach_library('arky8/styles.form') }} 

{% if node.id == '9' %}
<aside id="unete" class="formulario">
{% endif %}
{% if node.id == '10' %}
<aside id="hola" class="formulario">
{% endif %}

    <div class="contenedor center seudo-blk">
        {{ node.field_intro_form.value | raw }}
    </div>
    <div class="form contenedor">
        {% if node.id == '9' %}
        {{ drupal_entity('webform', 'distribuidores') }}
        {% endif %}
        {% if node.id == '10' %}
        {{ drupal_entity('webform', 'contact') }}
        {% endif %}
    </div>
</aside>

{% endif %}

{# PREFOOTER #}

{% if node.getType in ['page', 'home'] and node.id not in ['9', '10', '13', '14', '15']  %}
    {{ drupal_entity('node', '12', 'megalink') }}
{% endif %} 

{% endif %} {# fin de formulario #}