{# DETALLES #}

{% set TP = title_prefix %} 
{% set TS = title_suffix %} 

{% set TITLE = node.label %}

{% set LOGO = content.field_logo %}

{% set DIRECCION = node.field_direccion.value %}
{% set EMAIL = node.field_email.value %}
{% set TELEFONO = node.field_telefono.value %}

{% set MEGALINK_PARA = content.field_mega_enlace %}

{# EMPIEZA LAYOUT #}

{% if view_mode == 'footer' %}
{# FOOTER #}
<section{{ attributes.addClass('foot--data') }}> 
{{ TP }}{{ TS }}

    <p>{{ DIRECCION }}</p>
    <p>E: <a href="mailto:{{ EMAIL }}" class="decolink" alt="Escribenos a {{ EMAIL }}" title="Correo Electrónico">{{ EMAIL }}</a></p>
    <p>T: <a href="tel:{{ TELEFONO }}" class="decolink" alt="Pedidos al {{ TELEFONO }}" title="Teléfono">(+51) {{ TELEFONO }}</a></p>

</section> {# fin FOOTER #}

{% elseif view_mode == 'mensajero' %}

<a 
    id="mensajero" class="mensajero" target="_blank" rel="noreferrer noopener" 
    title="Escríbenos por WhatsApp" aria-label="WhatsApp: {{ node.field_wasap.value }}" 
    href="https://api.whatsapp.com/send?phone=51{{ node.field_wasap.value }}">
    <svg viewbox="0 0 65 65">
        <circle cx="27" cy="27" r="27" fill="#39C040"></circle>
        <circle cx="27" cy="27" r="23" fill="#fff"></circle>
        <path fill="#39C040" d="M26.952 13C34.628 13 41 19.276 41 26.903 41 34.531 34.628 41 26.952 41c-2.414 0-4.731-.772-6.807-1.931L13 41l1.931-7C13.676 31.828 13 29.414 13 26.903 13 19.276 19.276 13 26.952 13zm0 2.414c-6.373 0-11.538 5.117-11.538 11.49 0 2.22.627 4.393 1.786 6.227l.29.435-1.11 4.055 4.151-1.062.435.241c1.786 1.11 3.862 1.786 6.034 1.786 6.324 0 11.586-5.262 11.586-11.683 0-6.42-5.262-11.49-11.634-11.49z"></path>
        <path fill="#39C040" d="M23.234 20.434l-.917-.048c-.29 0-.579.097-.772.29-.435.386-1.159 1.11-1.352 2.076-.338 1.448.193 3.186 1.448 4.924 1.256 1.738 3.67 4.538 7.918 5.745 1.351.386 2.413.145 3.282-.387a2.848 2.848 0 0 0 1.256-1.834l.144-.676a.485.485 0 0 0-.24-.53l-3.042-1.4a.46.46 0 0 0-.58.144l-1.207 1.545c-.096.096-.24.145-.386.096-.82-.29-3.572-1.448-5.069-4.345-.048-.144-.048-.29.049-.386l1.158-1.303c.097-.145.145-.338.097-.483l-1.4-3.138a.42.42 0 0 0-.387-.29"></path>
    </svg>
    <div>
        <small>WhatsApp</small>
        <span>{{ node.field_wasap.value }}</span>
    </div>
</a>

{% elseif view_mode == 'megalink' %}

{{ attach_library('arky8/styles.megalink') }}

<section{{ attributes.addClass('prefooter') }}> 

    <header class="blk--head flex-center">
        <h4 class="blk-title bevan">¡Estamos cerca a ti!</h4>
        <p class="blk-body">Elija como contactarse con nosotros</p> 
    </header>

    <ul class="flex m-flex-2"> 
    {% for item in node.field_mega_enlace %}
        <li class="directo directo-0{{ loop.index }} {{ loop.index0 is odd ? 'directo-odd' : 'directo-even' }}">
            <a href="{{ item.entity.field_easy_link.0.url }}" alt="{{ item.entity.field_easy_link.title }}" title="{{ item.entity.field_easy_link.title }}" class='directo-link espaciado relativo centrado img-50'>
                
                <h5 class="directo-title bevan">{{ item.entity.field_easy_title.value }}</h5>
                <figure class="directo-img">
                    <img 
                        class="img" height="{{ item.entity.field_easy_image.height }}" width="{{ item.entity.field_easy_image.width }}"
                        alt="{{ item.entity.field_easy_image_img.alt }}" title="{{ item.entity.field_easy_image.title }}"
                        src="{{ file_url(item.entity.field_easy_image.entity.fileuri ) }}" /> 
                </figure>
                <p class="directo-body">{{ item.entity.field_easy_body.value }}</p>
                <p class="directo-cta">
                    <small class="decolink bevan">{{ item.entity.field_easy_link.title }}</small>
                </p> 

            </a>
        </li>
    {% endfor %}  
    </ul>

</section> {# fin LOGO #}

{% elseif view_mode == 'logo' %}
{# LOGO #}
<section{{ attributes.addClass('foot--logo') }}> 
{{ TP }}{{ TS }}

    <a href="/" class="logo" alt="Homepage Bartori" title="Bartori SAC" aria-label="Ir al homepage">{{ LOGO }}</a>

</section> {# fin LOGO #}

{% elseif view_mode == 'header_top' %}
{# HEADER TOP #}
<section{{ attributes.addClass('header--top') }}> 
{{ TP }}{{ TS }}

    <div class="top--call-object">
        <a href="tel:{{ TELEFONO }}" class="decolink" alt="Pedidos al {{ TELEFONO }}" title="Teléfono">{{ TELEFONO }}</a>
    </div>

</section> {# fin HEADER TOP #}
{% else %}

{# DEFAULT #}
<section{{ attributes.addClass('nd detalles') }}> 
{{ TP }}{{ TS }}

    <div class="contenedor">

        <header class="aw-head">
            <h1 id="title" class="title">{{ TITLE }}</h1>
        </header>


        {% if node.body.value %}
        <article class="aw-body"> 
            {{ content.body }} 
        </article>
        {% endif %} 

    </div>

</section> {# fin DEFAULT #}
{% endif %}