{% if view_mode == 'banner' %}

{{ attach_library('arky8/styles.catalogo') }}

<article class="hero-space hero-second catalogo-lista img-75 relativo"> 
    <ul class="flex">
        {% for item in node.field_reference_stores %}
            <li class="catalogo-lista-item item-{{ loop.index }}">
                {% if item.entity.field_class_color[0].value|length > 0 %}
                <a 
                    class="catalogo centrado-flex relativo" 
                    data-class="{{ item.entity.field_class_color.value }}" 
                    href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" 
                    alt="{{ item.entity.label }}" title="{{ item.entity.label }}" aria-label="{{ item.entity.label }}">
                {% else %}
                <a 
                    class="catalogo centrado-flex relativo" 
                    href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" 
                    alt="{{ item.entity.label }}" title="{{ item.entity.label }}" aria-label="{{ item.entity.label }}">
                {% endif %}
                    <figure class="catalogo-figure">
                        <img 
                            class="lazy catalogo-img" height="{{ item.entity.field_img_promo.height }}" width="{{ item.entity.field_img_promo.width }}"
                            alt="{{ item.entity.field_img_promo.alt }}" title="{{ item.entity.field_img_promo.title }}"
                            data-source="{{ file_url(item.entity.field_img_promo.entity.fileuri | image_style('max250w') ) }}" 
                            data-srcset="{{ file_url(item.entity.field_img_promo.entity.fileuri | image_style('max250w') ) }}" />
                        <noscript>
                            <img  
                                class="catalogo-img" 
                                alt="{{ item.entity.field_img_promo.alt }}" 
                                title="{{ item.entity.field_img_promo.title }}" 
                                src="{{ file_url(item.entity.field_img_promo.entity.fileuri) }}" />
                        </noscript>    
                    </figure>
                    <header class="catalogo-header relativo">
                        <h3 class="catalogo-title bevan">{{ item.entity.label }}</h3> 
                    </header>
                </a>
            </li>
        {% endfor %} 
    </ul>
</article>

{% else %}

<section class="mainpage-banner relativo centrado flex"> 
    
    <h4 class="hero-text bevan"><span>{{ node.field_banner_prim.value }} {{ node.field_banner_sec.value }}</span></h4>       
    {{ drupal_entity('node', '1', 'banner') }} 
    
</section>

<section class="mainpage-content">

{% if logged_in %}
<aside class="tabulador contenedor center espaciado">
    {{ drupal_block('local_tasks_block') }}
</aside>
{% endif %}

<article class='steps relativo w-flex-4'>  
    <div class="contenedor espaciado">
        {% for item in node.field_gsvg %}
            <header class="blk--head center flex-center auto">
                <h2 class="blk-title bevan">{{ item.entity.field_easy_title.value }}</h2>
                <p class="blk-body">{{ item.entity.field_easy_body.value }}</p>
            </header> 
            <footer class="blk--foot center">
                <a class="button button--red" href="{{ item.entity.field_easy_link.0.url }}" alt="{{ item.entity.field_easy_link.title }}" title="{{ item.entity.field_easy_link.title }}">
                    {{ item.entity.field_easy_link.title }}
                </a>
            </footer>
        {% endfor %} 
    </div>
</article>

<article class='info relativo espaciado es-decorativo img-50 centrado white'> 
    <div class="contenedor flex m-flex-2">
        <article class="blk--head flex-center">
            <h4 class="blk-title bevan">{{ node.field_home_info_title.value }}</h4>
            <p class="blk-body">{{ node.field_home_info_body.value }}</p>
            <a class="button button--white" href="{{ node.field_home_info_link.0.url }}" alt="{{ node.field_home_info_link.title }}" title="{{ node.field_home_info_link.title }}">
                {{ node.field_home_info_link.title }}
            </a>
        </article>

        <figure class="blk--img" style="background-image: url('{{ file_url(node.field_home_info_img.entity.fileuri) }}')">
        </figure>
    </div>
</article>

{{ drupal_entity('node', '8', 'preferidos') }} 

{{ drupal_entity('node', '12', 'megalink') }}

</section>

<style>
{% for item in node.field_banner_img  %}
.browsering .hero-space.bglazy,
.hero-space.bglazy.visible { background-image: url('{{ file_url(node.field_banner_img.entity.fileuri) }}'); }
{% endfor %} 
</style>

{% endif %}