{# DETALLES #}

{% set TP = title_prefix %} 
{% set TS = title_suffix %} 

{% set TITLE = node.label %}
{% set URL = url %}

{% set CATALOGUE_COLOR = node.field_class_color.value %}
{% set CATALOGUE_URL = file_url(node.field_img_promo.entity.fileuri | image_style('max250w') ) %} 
{% set CATALOGUE_ALT = node.field_img_promo.alt %}
{% set CATALOGUE_TITLE = node.field_img_promo.title %} 


{# EMPIEZA LAYOUT #}

{% if view_mode == 'teaser' %}
{# TEASER #}
{% if node.field_class_color[0].value|length > 0 %}
<a class="catalogo centrado-flex relativo" data-class="{{ CATALOGUE_COLOR }}" href="{{ URL }}" alt="{{ TITLE }}" title="{{ TITLE }}" aria-label="{{ TITLE }}">
{% else %}
<a class="catalogo centrado-flex relativo" href="{{ URL }}" alt="{{ TITLE }}" title="{{ TITLE }}" aria-label="{{ TITLE }}">
{% endif %} 
{{ TP }}{{ TS }}

    <figure class="catalogo-img">
        <img src="{{ CATALOGUE_URL }}" alt="{{ CATALOGUE_ALT }}" title="{{ CATALOGUE_TITLE }}" class="img" loading="lazy" />
    </figure>
    <header>
        <h3 class="catalogo-title">{{ TITLE }}</h3>
    </header>
    <footer class="catalogo-footer">
        <small class="decolink">{{'Conocer el catálogo'|t}}</small>
    </footer>
    
</a> {# fin TEASER #}

{% elseif view_mode == 'menu' %}
{# MENU #}
{% if node.field_class_color[0].value|length > 0 %}
<a class="catalogo centrado-flex relativo" data-class="{{ CATALOGUE_COLOR }}" href="{{ URL }}" alt="{{ TITLE }}" title="{{ TITLE }}" aria-label="{{ TITLE }}">
{% else %}
<a class="catalogo centrado-flex relativo" href="{{ URL }}" alt="{{ TITLE }}" title="{{ TITLE }}" aria-label="{{ TITLE }}">
{% endif %} 
{{ TP }}{{ TS }}

    <figure class="catalogo-img">
        <img src="{{ CATALOGUE_URL }}" alt="{{ CATALOGUE_ALT }}" title="{{ CATALOGUE_TITLE }}" class="img" loading="lazy" />
    </figure>  
    
</a> {# fin MENU #}

{% else %}
{# DEFAULT #}
<section{{ attributes.addClass('nd detalles') }}> 
{{ TP }}{{ TS }}

    <div class="contenedor">

        <header class="aw-head">
            <h1 id="title" class="title">{{ TITLE }}</h1>
        </header>


        {% if node.body.value %}
        <article class="aw-body"> 
            {{ content.body }} 
        </article>
        {% endif %} 

    </div>

</section> {# fin DEFAULT #}
{% endif %}