{{ attach_library('arky8/styles') }}
{% if is_front %}
{{ attach_library('arky8/styles_home') }} 
{% else %}
{{ attach_library('arky8/styles_page') }} 
{% endif %}

<section id="arkyweb" class="arkyweb">

	{% include '@arky8/@region/header.html.twig' %}

    {% if (node.getType == 'tienda') %}
	   {% include '@arky8/@region/content-tienda.html.twig' %}
    {% else %}
        {% include '@arky8/@region/content.html.twig' %}
    {% endif %}

    {% include '@arky8/@region/footer.html.twig' %} 

    {% include '@arky8/@region/mobile.html.twig' %}

    {% include '@arky8/@region/mensajero.html.twig' %}

</section> {# Acaba SECTION #}  