{{ attach_library('arky8/styles') }}
{{ attach_library('arky8/styles_page') }} 

<section id="arkyweb" class="arkyweb">

    {% include '@arky8/@region/header.html.twig' %}

    {% include '@arky8/@region/content-checkout-complete.html.twig' %}

    {% include '@arky8/@region/footer.html.twig' %} 

    {% include '@arky8/@region/mobile.html.twig' %}

    {% include '@arky8/@region/mensajero.html.twig' %}

</section> {# Acaba SECTION #}