{{ attach_library('arky8/styles') }}
{{ attach_library('arky8/styles.form') }} 

<section id="arkyweb" class="arkyweb">

    {% include '@arky8/-regions/header.html.twig' %}

    {% include '@arky8/@region/content-user.html.twig' %} 

    {% include '@arky8/-regions/footer.html.twig' %} 

    {% include '@arky8/@region/mobile.html.twig' %}

    {% include '@arky8/@region/mensajero.html.twig' %}

</section> {# Acaba SECTION #}