{{ attach_library('arky8/styles') }}
{{ attach_library('arky8/styles_page') }}
{{ attach_library('arky8/styles.tienda') }}
{{ attach_library('arky8/styles.form') }} 
{{ attach_library('arky8/styles.cart') }} 

<section id="arkyweb" class="arkyweb">

    {% include '@arky8/@region/header.html.twig' %}

    {% include '@arky8/@region/content-checkout.html.twig' %}

    {% include '@arky8/@region/footer.html.twig' %} 

    {% include '@arky8/@region/mobile.html.twig' %}

    {% include '@arky8/@region/mensajero.html.twig' %}

</section> {# Acaba SECTION #}