{%
  set classes = [
    'block', 'fieldblock'
  ]
%}

{#
<div {{ attributes.addClass(classes) }}>
{{ title_prefix }}
{{ title_suffix }}
#}
{% block content %}
  {{ content }}
{% endblock %}
{#</div>#}