{% extends "block.html.twig" %}

{% block content %}

{% if is_front %} 
    <h1 id="logo">
        <a href="{{ path('<front>') }}" alt="{{ 'Home'|t }}" title="{{ 'Home'|t }}" rel="home" class="logo" aria-label="Ir al homepage">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
    </h1> 
{% else %} 
    <h2 id="logo">
        <a href="{{ path('<front>') }}" alt="{{ 'Home'|t }}" title="{{ 'Home'|t }}" rel="home" class="logo" aria-label="Ir al homepage">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a> 
    </h2> 
{% endif %}

{% endblock %}