{%
  set classes = [
    'block', 'entity', 'contents'
  ]
%}

<div {{ attributes.addClass(classes) }}>
{#
{{ title_prefix }}
{{ title_suffix }}
#}
{% block content %}
  {{ content }}
{% endblock %}
</div>