{%
  set classes = [
    'block',
    '' ~ configuration.provider|clean_class,
    'block--' ~ plugin_id|clean_class,
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h4{{ title_attributes.addClass('block--title') }}>{{ label }}</h4>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="block--inner">
      {{ content }}
    </div>
  {% endblock %}
</div> 