.catalogo {
    background-color: var(--background-color); color: var(--text-color); text-align: center;
    height: 100%; overflow: hidden; padding: 2rem 1rem; }
.catalogo-title { 
    font-size: 1.5em; line-height: 1.25; 
    padding-left: 1rem; padding-right: 1rem; position: relative; z-index: 2; }  

.catalogo-figure { position: relative; overflow: visible; }
.catalogo-img { 
    animation-name: spin; animation-timing-function: linear; animation-iteration-count: infinite; object-fit: contain;
    transition: .1s perspective; display: inline-block; height: 180px; max-width: 450px; position: relative; z-index: 1; }
.catalogo:hover .catalogo-img {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }

.item-1 .catalogo-img { animation-duration: 8s; }
.item-2 .catalogo-img { animation-duration: 10s; }
.item-3 .catalogo-img { animation-duration: 12s; } 

@media (min-width: 900px) {
.catalogo-lista-item:not(.item-4):not(.item-5) { flex-basis: 50%; max-width: 50%; }
.catalogo { padding: 5rem 2rem; }
.nodo-home .catalogo { padding: 9rem 1rem; }
}
@media (min-width: 1200px) {
.nodo-home .catalogo { padding: 9rem 1rem 7rem; }
}
@media (min-width: 1600px) {
.nodo-home .catalogo { padding: 11rem 1rem 8rem; }
.catalogo-title { font-size: 1.75em; }
}

@media (max-width: 479px) {
.catalogo-lista-item { flex-basis: 100%; max-width: 100%; }
.item-1 .catalogo { padding: 8rem 1rem 2rem; }
}
@media (min-width: 480px) and (max-width: 899px) {
.catalogo-lista-item { flex-basis: 50%; max-width: 50%; }
.item-3.catalogo-lista-item { flex-basis: 100%; max-width: 100%; }
.item-1 .catalogo,
.item-2 .catalogo { padding: 8rem 1rem 2rem; }
}

.catalogo-figure::after {
    content: '';
    width: 3rem; height: 3rem; 
    position: absolute; margin: auto; z-index: 0; 
    background-color: var(--text-color);
    display: block; border-radius: 50%; opacity: .25;
    top: 0; left: 0; right: 0; bottom: 0; 
    transform: scale(1); transition: .75s transform; }
.catalogo:hover .catalogo-figure::after { transform: scale(20); }

@keyframes spin {
  from{ transform: rotateY(0deg); }
  to{ transform: rotateY(360deg); }
} 

.item-1 .catalogo {
  background: 
    radial-gradient(
      circle at 100% 150%, 
      var(--background-color) 24%, 
      var(--background-secondary) 25%, 
      var(--background-secondary) 28%, 
      var(--background-color) 29%, 
      var(--background-color) 36%, 
      var(--background-secondary) 36%, 
      var(--background-secondary) 40%, 
      rgba(0,0,0,0) 40%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 0 150%, 
      var(--background-color) 24%, 
      var(--background-secondary) 25%, var(--background-secondary) 28%, 
      var(--background-color) 29%, 
      var(--background-color) 36%, 
      var(--background-secondary) 36%, 
      var(--background-secondary) 40%, 
      rgba(0,0,0,0) 40%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 50% 100%, 
      var(--background-secondary) 10%, 
      var(--background-color) 11%, 
      var(--background-color) 23%, 
      var(--background-secondary) 24%, var(--background-secondary) 30%, 
      var(--background-color) 31%, 
      var(--background-color) 43%, 
      var(--background-secondary) 44%, var(--background-secondary) 50%, 
      var(--background-color) 51%, 
      var(--background-color) 63%, 
      var(--background-secondary) 64%, var(--background-secondary) 71%, 
      rgba(0,0,0,0) 71%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 100% 50%, 
      var(--background-secondary) 5%, 
      var(--background-color) 6%, 
      var(--background-color) 15%, 
      var(--background-secondary) 16%, 
      var(--background-secondary) 20%, var(--background-color) 21%, 
      var(--background-color) 30%, 
      var(--background-secondary) 31%, 
      var(--background-secondary) 35%, 
      var(--background-color) 36%, 
      var(--background-color) 45%, 
      var(--background-secondary) 46%, 
      var(--background-secondary) 49%, 
      rgba(0,0,0,0) 50%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 0 50%, 
      var(--background-secondary) 5%, 
      var(--background-color) 6%, 
      var(--background-color) 15%, 
      var(--background-secondary) 16%, 
      var(--background-secondary) 20%, var(--background-color) 21%, 
      var(--background-color) 30%, 
      var(--background-secondary) 31%, 
      var(--background-secondary) 35%, 
      var(--background-color) 36%, 
      var(--background-color) 45%, 
      var(--background-secondary) 46%, 
      var(--background-secondary) 49%, 
      rgba(0,0,0,0) 50%, 
      rgba(0,0,0,0) 100%
    ), 
    rgb(165, 207, 249);
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 100px 50px; }
.item-2 .catalogo {
  background: radial-gradient(#A6B4D8 15%, transparent 16%), radial-gradient(#A6B4D8 15%, transparent 16%), #D3DFFF;
  background-position: 0 0, 80px 80px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 160px 160px; }
.item-3 .catalogo {
  background: 
    repeating-linear-gradient(45deg, transparent, transparent 35px, var(--color-ambar) 35px, var(--color-ambar) 70px);
  background-color: var(--color-ambar-light); }