:root { --menu-espacio: .5rem; }
@media (min-width: 1200px) {
:root { --menu-espacio: 1.5rem; }    
}
@media (min-width: 1800px) {
:root { --menu-espacio: 2.5rem; }    
}

[data-class*="barquillos"]    { --background-color: #D3DFFF; --text-color: #203366; }
[data-class*="premium"]       { --background-color: #FFC7CA; --text-color: #A7141C; --background-secondary: #ffd4d7; }
[data-class*="super"]         { --background-color: #FFE48D; --text-color: #EE1D23; }
[data-class*="rollos"]        { --background-color: #fff8c6; --text-color: #EE1D23; --background-secondary: var(--color-ambar); }
[data-class*="waffers"]       { --background-color: #D3DFFF; --text-color: #203366; }
[data-class*="corporativos"]  { --background-color: #FFC7CA; --text-color: #A7141C; }

.color { color: var(--text-color); }

.contents { display: contents; }
.max-content { max-width: max-content;  }

.auto { margin-left: auto; margin-right: auto; }
.center { text-align: center; }
.centrado { text-align: center; }
.centrado-flex,
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
.flex-center > :not(:first-child) { margin-top: 1rem; }

.espaciado { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.espaciado-top { padding-top: 2.5rem; }
.espaciado-bottom { padding-bottom: 2.5rem; }
.espaciado-mayor { padding-top: 3.25rem; padding-bottom: 3.25rem; }
.espaciado-menor { padding-top: 2rem; padding-bottom: 2rem; }
[class*='espaciado'].tabulador { padding-bottom: 0; }

.relativo,
.rel { position: relative; }

.img { max-width: 100%; }
[class*='img-'] img { margin-left: auto; margin-right: auto; }
.img-50 .img {  max-width: 50%; }
.img-75 .img {  max-width: 75%; }

.decolink,
.fulink { display: inline-block; min-width: max-content; position: relative; }
.fulink { min-width: 0; }

@media (min-width: 900px) {
.espaciado { padding-top: 4rem; padding-bottom: 4rem; }
.espaciado-top { padding-top: 5rem; }
.espaciado-bottom { padding-bottom: 5rem; }
.espaciado-mayor { padding-top: 6rem; padding-bottom: 6rem; }   
}

.button {
    border: 2px solid white;
    border-radius: 2rem; 
    color: white; font-family: Chango;
    display: inline-block;
    font-size: 1.25em;
    padding: 1rem 2rem; 
    transition: .25s all; }
.button:hover { background-color: var(--color-red); color: white; }
.button--red,
.button--red-orange { background-color: var(--color-red); border-color: var(--color-red); }
.button--red:hover { background-color: var(--color-ambar); border-color: var(--color-ambar); color: var(--color-red); }
.button--white { background-color: white; color: var(--color-red); }
.button--white:hover { border-color: var(--color-red) }
.button--red-orange:hover { background-color: var(--color-blue); border-color: var(--color-blue); }

.white, 
.white h4 { color: white; }

.flex { display: flex; flex-wrap: wrap; flex-direction: row; }
.flex > * { flex: 1; } 
[class*='m-flex-'] > * { max-width: 100%; flex-basis: 100%; }
.flex-2 > *,
.w-flex-2 .flex > *,
.w-flex-2 .views-row,
.flex-4 > *,
.w-flex-4 .flex > * { max-width: 50%; flex-basis: 50%; }
.flex-2-1 > *,
.flex-1-2 > * { max-width: 33.332%; flex-basis: 33.332%; }
.flex-2-1 > *:first-child,
.flex-1-2 > *:last-child { max-width: 66.667%; flex-basis: 66.667%; }
.ziggy > :nth-child(2n) > .blk > :last-child { order: -1; }
.w-flex-3 .flex > * { max-width: 33.32%; flex-basis: 33.32%; }

@media (min-width: 480px) {
.m-flex-2 > * { max-width: 50%; flex-basis: 50%; }
}

@media (min-width: 600px) { 
.flex-4 > *,
.w-flex-4 .flex > * { max-width: 25%; flex-basis: 325%; }
}
@media (min-width: 900px) {
.flex-3 > *,
.w-flex-3 .flex > * { max-width: 33.32%; flex-basis: 33.32%; }
}
@media (max-width: 599px) {
.flex-desktop.flex-1-2 > *,
.flex-desktop.flex-1-2 > *:last-child { max-width: 100%; flex-basis: 100%; }
}

/* ALL WEB */
.headpage {
    position: fixed; width: 100%; z-index: 10;
    top: 0; left: 0; }
.headtop {
    background-color: var(--color-red);
    color: white; font-family: Chango; font-size: .7em; line-height: 30px; }
.headmain { background-color: white; }
.headmain-contenedor { min-height: 60px; }

@media (min-width: 900px) {
.headmain-contenedor { justify-content: center; }
}

.tophead--logo {
    height: 45px; width: 120px;
    position: absolute; margin: auto; z-index: 2; 
    top: 0; bottom: 0; left: 0; right: 0; }
.tophead--logo:hover { animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }
.tophead--menu li { margin-left: .25rem; }

.tophead--menu li:not([data-counter*="4"]):not([data-counter*="5"]) { display: none; }
.mainhead--menu { display: none; }

@media (min-width: 900px) {
.toggle { display: none; }
.mainhead--menu { display: block; flex-basis: 90%; max-width: 90%; }
.top--call-object a:before { content: 'Pedidos al: ' }

.tophead--menu li:not([data-counter*="4"]):not([data-counter*="5"]) { display: inline-block; }
.tophead--menu li { margin-left: .5rem; }
}

@media (min-width: 1200px) {
.tophead--logo { height: 70px; width: 200px; }
} 

.mmain-item { position: relative; }
[data-counter*="mmain-item-02"] { margin-right: 80px; }
[data-counter*="mmain-item-03"] { margin-left: 80px; }
.mmmain-link {
    display: flex; align-items: center; justify-content: center;
    color: var(--color-red);
    font-family: Chango; font-size: 12px; line-height: 1.25;
    height: 100%; padding: 1.5rem 1rem 2rem;
    text-transform: uppercase; text-align: center; 
    position: relative; z-index: 2; }
.mmmain-link span { position: relative; z-index: 2; }
@media (min-width: 1024px) {
.mmmain-link { font-size: 13px; }
} 
@media (min-width: 1200px) {
[data-counter*="mmain-item-02"] { margin-right: 120px; }
[data-counter*="mmain-item-03"] { margin-left: 120px; }
.mmmain-link { padding-left: 1.75rem; padding-right: 1.75rem; }
}
@media (min-width: 1400px) {
.mmmain-link { font-size: 13px; padding-left: 2.5rem; padding-right: 2.5rem; }
}
@media (min-width: 1500px) {
.mmmain-link { font-size: 14px; }
}

.mainpage { background-color: #fff6fa; }
.mainpage > * { position: relative; z-index: 2; }

/* FOOTER */

[class*="foot--"]:not(:first-child) { margin-top: 1rem; }

.footerpage {
    color: var(--color-ambar);
    background-color: var(--color-blue);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.foot--menu .menu-item {
    font-family: Chango;
    display: inline-block;
    margin-left: .5rem; margin-right: .5rem;
    position: relative; }
[class*="foot--"] svg { margin: auto; width: 150px; }
[class*="foot--"] path { fill: var(--color-ambar); }
[class*="foot--"] a { display: inline-block; color: var(--color-ambar); position: relative; transition: .3s color; }
[class*="foot--"] a:hover { color: var(--color-red); }
.foot--arkyweb { font-size: .75em; }

.foot--menu .menu-item::before {
    content: '';
    display: block; width: 1px; height: 50%; 
    position: absolute; margin: auto;
    background-color: var(--color-ambar);
    left: -.6rem; top: 0; bottom: 0; }
.foot--menu .menu-item:first-child::before { content: none; }

.decolink::after,
.fulink::after {
    background-color: var(--color-red);
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    right: 0; 
    z-index: -1;
    transition: .25s width;
    width: 0;
}
.fulink::after {
    height: 100%;
    background-color: var(--color-ambar);
    z-index: 0;
}
.decolink:hover::after,
.mmain-item:hover .fulink::after,
.catalogo:hover .decolink::after { left: 0; width: 100%; }
.headtop .decolink {
    transition: .25s color;
}
.headtop .decolink:hover {
    color: var(--color-ambar);
}
.headtop .decolink:after { 
    background-color: var(--color-ambar);
}

.seudo-blk,
.blk--head { margin-bottom: 3rem; } 
.blk-title,
.seudo-blk h4 { color: var(--color-red); font-family: Chango; font-size: 2.25em; line-height: 1.25; }
.blk-body,
.seudo-blk p { font-size: 1.5em; text-align: center; }
.seudo-blk > * + * { margin-top: 1rem; }
.blk--foot { margin-top: 3rem; }
.blk-link { color: var(--color-red); font-size: 1.5em; padding-bottom: .5rem; }

@media (min-width: 600px) {
.blk-title,
.seudo-blk h4 { padding-left: 8%; padding-right: 8%; }  
.blk-body, 
.seudo-blk p { padding-left: 20%; padding-right: 20%; }
}

.blk--items { justify-content: space-between; } 

/* LOGINES */
.login .headpage { top: 79px; }

.clipeado::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    clip-path: polygon(100% 0, 93% 94%, 45% 100%, 3% 94%, 0 0); }

/* DECOS */
.es-decorativo::after {
    content: ''; z-index: -1; 
    position: absolute; left: 0; top: 0; 
    width: 100%; height: 100%; } 

.dropdown-toggle:not(div) {
    position: absolute;
    width: 100%;
    height: 1.75rem;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.mmmain-link.expandido::after {
    content: '';
    border-bottom: 1px solid var(--color-red);
    position: absolute;
    margin: auto;
    width: .75rem;
    height: .75rem;
    border-right: 1px solid var(--color-red);
    transform: rotate(45deg);
    left: 0; right: 0; bottom: .75rem;
    background-color: transparent; transition: .3s transform; }
.uk-open.mmmain-link.expandido::after { transform: rotate(225deg); }

.dropdown-menu {
    position: absolute;
    background-color: white;
    top: 100%;
    width: 300%;
    overflow: hidden; }

.submenu {
    border-top: 0 solid var(--color-orange);
    background-color: white; text-align: center;
    max-height: 0; max-width: 140%; 
    overflow: hidden; position: absolute; top: 100%; left: -20%;
    transition: .5s max-height, .25s border-top-width; }
.submenu.uk-open {
    max-height: 500px; border-top-width: 5px; }
.menubasic { padding: 1rem; }
.menubasic a {
    display: block; color: var(--color-blue); background-color: transparent;
    font-size: 15px; line-height: 1; font-family: Chango; padding: .5rem; transition: .25s background-color; }
.menubasic a:hover { background-color: var(--color-ambar); }

.headmain {
    transition: .15s margin-top;
}
.headpage-class .headmain {
    margin-top: -30px;
}

@media (min-width: 1200px) {
.logo::before {
    content: '';
    background-color: white;
    display: block; border-radius: 200px / 100px;
    width: 200px; height: 100px; 
    position: absolute; margin: auto; z-index: -1; 
    left: 0; right: 0; top: .25rem; }
}

.carrito { display: flex; position: relative; justify-content: center; align-items: center; }
.carrito-button { display: flex; position: relative; width: 100%; justify-content: end; }
.carrito-icon { width: 50px; fill: var(--color-red); height: 50px; border-radius: 50%; padding: .35rem; }
.carrito-count { 
    display: block; position: absolute; background-color: var(--color-violeta); color: white; width: 30px; height: 30px; 
    border-radius: 50%; text-align: center; line-height: 30px; font-family: Chango; top: -.75rem; right: -.75rem; }
@media (max-width: 899px) {
.carrito { order: 2; max-width: 50px;flex-basis: 50px; }
}
@media (min-width: 900px) {
.carrito {
    position: absolute;
    right: var(--espacios);
    top: 1.125rem; }
}
.carrito-drop {
    display: none!important;
    position: absolute; left: auto!important;
    top: 100%!important; right: -1.5rem;
    background-color: white;
    padding: 1rem;
    font-size: 14px;
    min-width: 200px;
    width: 100%; }
.carrito-drop.uk-open { display: block!important; }
.carrito-drop table { width: 100%; }
.carrito-link a {
    background-color: var(--color-red);  
    text-align: center;
    display: block;
    line-height: 1;
    font-size: 18px;
    font-family: Chango;
    color: white;
    padding: .5rem 1rem;
    margin-top: 1rem; }

.mensajero {
    background-color: #39C040;
    width: 12rem;
    border-radius: 3rem 0 0 3rem;
    padding: 1rem 1rem .5rem;
    color: white;  font-size: 14px; line-height: 1.25; 
    display: flex; flex-flow: row wrap; 
    position: fixed; z-index: 10;
    right: -8rem; top: 50%; 
    transform: translateY(-50%);
    transition: .25s right; }
.mensajero:hover { right: 0; }
.mensajero svg { 
    max-width: 48px;
    flex-basis: 48px; 
    height: 48px; }
.mensajero > div { 
    margin-left: 1rem; padding-top: .25rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center; }
.mensajero span { font-size: 16px; }

.preferidos .blk-title,
.prefooter .blk-title {
    border-bottom: 5px solid var(--color-red);
}
.foot--data { margin-top: 1.5rem; }

.footerpage { position: relative; }
.footerpage::after {
    content: '';
    height: 3rem;
    width: 100%;
    position: absolute;
    display: block;
    clip-path: polygon(0 0, 0% 100%, 12% 30%, 25% 100%, 37% 30%, 50% 100%, 63% 30%, 75% 100%, 88% 30%, 100% 100%, 100% 0);
    top: -2rem;
    z-index: 2;
    background-color: var(--color-blue);
    transform: rotate(-180deg); }
.footerpage .logo::before { content: none; }

.directo-title {
    font-size: 1.8em; text-transform: uppercase;
    padding-left: 15%; padding-right: 15%;
    margin-bottom: 1.5rem; margin-top: 3rem; }
.directo-img img { height: 300px; width: 300px; border-radius: 50%; }
@media (max-width: 599px) { .directo-img img { height: 200px; width: 200px; } }
.directo-body,
.directo-cta {
    padding-left: 15%; padding-right: 15%;
    font-size: 1.25em; line-height: 1.25;
    margin-top: 1.5rem; }
.directo-link { display: block; height: 100%; }
.directo-01 .directo-link { color: var(--color-ambar); background-color: var(--color-red); }
.directo-02 .directo-link { color: var(--color-red); background-color: var(--color-ambar); }

.node-10 #defaultpage { 
    text-align: center;
}
.node-9 #defaultpage,
.node-9 #regionpage,
.node-10 #defaultpage {
    padding-bottom: 0; 
}

.big { min-height: calc(100vh - 240px); }
.bigger {
    flex-basis: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2rem;
}
.bigger p {
    background-color: var(--color-red);
    color: white!important;
    font-family: chango;
    display: inline;
    padding: .5rem;
    line-height: 2;
}
.clasepage + .default { display: none; }