table {
    width: 100%;
    font-size: 14px;
}

thead th {
    border-bottom: 2px solid var(--color-red);
    padding: .5rem 1rem;
    text-align: center;
}
thead th:first-child {
    text-align: left;
}
tbody td {
    border-bottom: 1px dotted var(--color-red);
    text-align: center;
    padding: 1rem .5rem; 
}
tbody td:first-child {
    min-width: 49%;
    text-align: left;
    padding-left: 0;
}
tbody td:first-child a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    line-height: 1;
}
tbody td:first-child a > div {
    flex-grow: 1;
    padding-left: 1rem;
}
tbody td:first-child a > div:first-child {
    padding-left: 0;
    flex-basis: 100px;
    max-width: 100px;
}
tbody td:first-child a h5 {
    font-size: 16px;
}
tbody td:first-child p {
    margin-top: .25rem;
    line-height: 1;
    font-size: 12px;
}

tbody div div div {
    display: inline;
}
tbody div div div:first-child {
    font-weight: 700;
}

.delete-order-item {
    background-image: url(../icon/remove.svg);
    background-color: transparent!important;
    text-indent: -9999em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    cursor: pointer;
    filter: invert(.5);
}

[data-drupal-messages] {
    background-color: var(--color-blue);
    color: white;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;

}

[data-drupal-selector="edit-review-payment-information-summary-profile"] div {
    line-height: 1.5;
}
[data-drupal-selector="edit-review-payment-information-summary-profile"] div div {
    display: inline;
}
[data-drupal-selector="edit-review-payment-information-summary-profile"] div div:first-child {
    font-weight: 700;
}

.fieldset-legend a { display: none; }

.cart-empty-page { text-align: center; font-size: 1.5em; text-transform: uppercase; }