.form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background-color: var(--color-ambar);
    padding: 2rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.form form::after {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    display: block;
    background-color: white;
    bottom: 0;
    left: 0;
}
.form .form-item { 
    flex-basis: 100%;
    max-width: 100%; 
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}
.form .form-item[class*="textarea"], 
.form .form-item[class*="processed-"] {
    flex-basis: 100%;
    max-width: 100%;
}
.form .form-item[class*="processed-"] {
    text-align: center;
}
.form label {
    text-transform: uppercase;
    color: var(--color-red);
    display: block;
    line-height: 1;
}
.form input:not([type="submit"]), 
.form select, .form textarea {
    border: 2px solid var(--color-red);
    padding: .5rem;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
}
input[type="submit"] {
    background-color: var(--color-red);
    border: 0;
    border-radius: 0;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1rem auto 1.5rem;
    position: relative;
    z-index: 2;
}

@media (min-width: 600px) {
.form form {
    padding: 3rem;
    max-width: 80%;
}
}
@media (min-width: 800px) {
.form .form-item {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem); 
}
.my-checkout .form .form-item { flex-basis: 100%; max-width: 100%; }
}