.hero-space { flex-basis: 100%; max-width: 100%;  }
.hero-text {   
    margin: auto; padding: 2rem 1.5rem; width: 100%;
    color: var(--color-red); font-size: 5vw; line-height: 1.25; text-align: center; text-align: center;
    position: absolute; left: 0; right: 0; top: 0; z-index: 2; }
@media (min-width: 600px) { 
.hero-text { font-size: 4vw; }  
}
@media (min-width: 900px) {   
.hero-text { padding: 3rem; width: 75%; font-size: 2em; } 
} 

.info .blk--img { order: -1; } 
@media (min-width: 600px) {
.es-decorativo.info::after { clip-path: polygon(23% 0, 56% 3%, 89% 0, 100% 31%, 96% 100%, 56% 92%, 0 100%, 6% 46%, 0 6%); }   
} 

.hero-text::after, 
.hero-text::before {
    content: '';
    position: absolute;
    clip-path: polygon(1% 0%, 99% 0, 100% 100%, 84% 90%, 75% 100%, 66% 90%, 58% 100%, 50% 90%, 42% 100%, 33% 90%, 24% 100%, 16% 90%, 0 100%);
    top: 0; left: 0; right: 0;
    z-index: 0;
    display: block; border-radius: 0 0 34% 34%;
    background-color: #f5487f;
    width: 100%; height:100%;
    margin: auto; }
.hero-text::before {
    background: repeating-linear-gradient(90deg, transparent, transparent 35px, #FFB8C9 35px, #FFB8C9 70px);
    z-index: -1; }
.hero-text::after { z-index: -3; }
.hero-text span {
    background-color: rgba(255,255,255,.9);
    color: var(--color-violeta);
    padding: .5rem 2.5rem; border-radius: 3rem;
    display: inline-block;
    line-height: 1; }

.info { background-color: var(--color-blue); overflow: hidden; }
.steps { background-color: var(--color-ambar); }
.info .blk-title {
    font-size: 2em;
    color: var(--color-orange);
}
.info .blk--img {
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50%;
    left: calc(-1*var(--menu-espacio));
    top: -5rem;
    bottom: -5rem;
}
.info .blk--head {
    margin-left: 50%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
@media (max-width: 899px) {
.info .blk--img { display: none; }
.info .blk--head { margin-left: 0; max-width: 100%; }
}
.steps { z-index: 2; }
.steps::before,
.steps::after {
    content: '';
    width: 100%; height: 3rem;
    position: absolute; left: 0; z-index: 2;
    background-color: var(--color-ambar);
    clip-path: polygon(0 0, 0% 100%, 12% 30%, 25% 100%, 37% 30%, 50% 100%, 63% 30%, 75% 100%, 88% 30%, 100% 100%, 100% 0); 
}
.steps::before { transform: rotate(-180deg); top: -2rem; }
.steps::after { bottom: -3rem; }