.toggle {
    position: relative; 
    width: 45px; height: 60px; 
    flex-basis: 45px; max-width: 45px; }
.toggle--left-icon {
    display: inline-block;
    height: 20px; width: 24px; z-index: 2; 
    position: absolute; margin: auto; 
    left: 0; top: 10px; right: 0; }
.toggle--left-icon-bar {
    top: 50%;
    transition-duration: .75ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.menu-is-open .toggle--left-icon-bar {
    transform: rotate(45deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.toggle--left-icon-bar, 
.toggle--left-icon-bar::before, 
.toggle--left-icon-bar::after {
    background-color: var(--color-red);
    display: block;
    position: absolute;
    border-radius: .25rem;
    height: 3px; width: 24px; }
.toggle--left-icon-bar::before, 
.toggle--left-icon-bar::after {
    content: ''; display: block; }
.toggle--left-icon-bar::before {
    top: -7px;
    transition: top 75ms ease .12s, opacity 75ms ease; }
.menu-is-open .toggle--left-icon-bar::before {
    opacity: 0; top: 0; }
.toggle--left-icon-bar::after {
    bottom: -7px;
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.menu-is-open .toggle--left-icon-bar::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s; }
.toggle--left-text {
    display: block;
    position: absolute; z-index: 0; margin: auto; 
    bottom: 10px; left: 0; right: 0;
    color: var(--color-red); text-align: center; font-size: 10px; 
    text-transform: uppercase; font-weight: 700; letter-spacing: 2px; }
.toggle--left-text::after {
    content: '';
    width: 60px; height: 60px; 
    background-color: var(--color-yellow);
    border-radius: 50%;
    display: block; position: absolute;
    top: -38px; z-index: -1; left: -7px; opacity: .25;
    transform: scale(0);
    transition: .3s transform; }
.menu-is-open .toggle--left-text::after { transform: scale(1); }

.menu-is-open { overflow-y: hidden; }
.menumobile {
    position: fixed; z-index: 9; 
    width: 100vw; height: calc(100vh - 90px); 
    background-color: var(--color-ambar);
    top: 90px; transition: .3s height, .3s left, .5s transform; 
    padding: 2rem; text-align: center; 
    transform: translate3d(-200vw,0,0); overflow-y: auto; } 
.toggle--close {
    display: block; position: fixed;
    background-color: var(--color-red);
    width: 100vw; height: calc(100vh - 90px);
    z-index: 8; opacity: .7; top: 90px; 
    transform: translate3d(-200vw,0,0); transition: .3s height, .3s left, .6s transform; }
.menu-is-open .menumobile,
.menu-is-open .toggle--close { left: 0; transform: translate3d(0,0,0); } 
.headpage-class .menumobile,
.headpage-class .toggle--close { top: 60px; height: calc(100vh - 60px); }

.menu .decolink::after { height: .5rem; border-radius: 1rem; opacity: .5; }

.mobile-main .flex { flex-direction: column; }
.mobile-main .menu-item { margin-top: .5rem; }
.mobile-main .menu-link {
    font-size: 1.5em; color: var(--color-red); font-family: Chango; line-height: 1; text-transform: uppercase;
    text-shadow: 1px 1px 0 var(--color-blue); min-width: 0; }
.mobile-main .menu-sub { margin-top: 0.25rem; margin-bottom: 1rem; display: flex; flex-flow: row wrap; }
.mobile-main .menu-link-sub {
    color: var(--color-blue); font-size: 14px; font-family: Chango; text-shadow: 1px 1px 0 var(--color-orange); line-height: 1; 
    display: inline-block; min-width: 0; margin-top: .5rem; padding: 0 .25rem; }
.mobile-main .menu-item-sub { flex-basis: 50%; max-width: 50%; }

.mobile-sec .flex {
    border-top: 2px dashed var(--color-red); flex-direction: row;
    margin-top: 2rem; padding-top: 2rem; }
.mobile-sec .menu-link {
    color: var(--color-blue); font-size: 16px; 
    display: inline-block; margin-top: .5rem; }
.mobile-main .menu-link::after { content: none; }
.mobile-sec li:not(:last-child) {
    flex-basis: 50%; max-width: 50%; }
.mobile-sec li:last-child {
    order: -1; flex-basis: 100%; margin-bottom: 1rem; }
.mobile-sec li:last-child .menu-link {
    background-color: var(--color-red);
    color: white; text-align: center;  font-family: Chango; transition: .25s background-color;
    display: inline-block; border-radius: 2rem; padding: 1rem 3rem; margin: 0; }
.mobile-sec li:last-child .menu-link::after { content: none; }
.mobile-sec li:last-child .menu-link:hover { background-color: var(--color-blue); }

.mobile--arkyweb {
    padding-top: 2rem; padding-bottom: 3rem; border-top: 2px dashed var(--color-red); margin-top: 3rem; 
    color: var(--color-red); }

.tabulador ul { display: inline-flex; margin-bottom: 2rem; }
.tabulador ul li a { margin-left: .5rem; margin-right: .5rem; display: inline-block; font-weight: 700; }
.tabulador ul li a.is-active { opacity: .5; }
 
.es-decorativo::after { background-color: var(--color-ambar-light); }
.es-decorativo.picapiedra::after { 
    background: 
        linear-gradient(135deg, var(--color-ambar) 25%, transparent 25%) -50px 0, 
        linear-gradient(225deg, var(--color-ambar) 25%, transparent 25%) -50px 0, 
        linear-gradient(315deg, var(--color-ambar) 25%, transparent 25%), 
        linear-gradient(45deg, var(--color-ambar) 25%, transparent 25%);
    background-color: var(--color-ambar-light);
    background-size: 100px 100px;
    clip-path: polygon(1% 0%, 99% 0, 100% 100%, 84% 90%, 75% 100%, 66% 90%, 58% 100%, 50% 90%, 42% 100%, 33% 90%, 24% 100%, 16% 90%, 0 100%); }

.ziggy .es-decorativo::after {
    background-color: var(--color-ambar); clip-path: polygon(0% 8%, 100% 0%, 98% 92%, 0% 99%);
    width: calc(100% + var(--espacios)); left: calc(-1*(var(--espacios))); }
.ziggy-odd .es-decorativo::after {
    left: 0;
    clip-path: polygon( 100% 0%,0% 8%, 0% 99%, 98% 92%); }

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}