.banner { position: relative; z-index: 2; }
.hero-space { position: relative; z-index: 0; margin-top: -2rem; }

.pageheader-text { display: flex; flex-direction: column; justify-content: center; }

.title { color: var(--color-red); font-size: 2.25em; }
.title.title-color { color: var(--text-color); }

.pageheader-image { align-items: center; display: flex; }
.pageheader-image img {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    width: 100%; }
.pageheader-maintext p,
.pageheader-maintext p + a { margin-top: 1rem; }

.bread { margin-bottom: 1rem; }
.bread-items { justify-content: flex-start; }
.bread .bread-item {
    flex: 0;
    min-width: max-content;
    color: var(--text-color); font-weight: 700; font-size: 16px; 
    position: relative; }
.bread-item:last-child {
    font-weight: 500;
}
.bread-item:not(:last-child)::after {
    content: '>';
    margin-right: .25rem;
}

@media (max-width: 479px) {
.pageheader-text { text-align: center; }   
.bread { margin-left: auto; margin-right: auto; }
.bread-item:last-child { display: none; }
.bread-item:nth-last-child(2)::after { content: none; }
}
@media (min-width: 480px) {
.pageheader {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pageheader-image { order: -1; }
}

.title + p { margin-top: 3rem; }
.title span {
    background-color: var(--color-red);
    color: white; word-break: break-all; 
    padding: 2rem; font-size: 80%;
    min-width: 15rem; display: inline-block; }
.banner p { color: var(--color-red); font-size: 1.125em; margin-top: 1rem; }
.banner img {
    border-radius: 2rem; margin: 2rem auto; width: calc(100% - 4rem);
    box-shadow: 0 0 0 1rem var(--color-red),0 0 0 2rem var(--color-orange); }
.banner .button { margin: 1.5rem auto; }
.banner-img + .banner-text .button { margin-left: 0; } 
@media (min-width: 600px) {
.banner-img { flex-basis: var(--banner-page); max-width: var(--banner-page); }  
.banner-text { display: flex; flex-direction: column; justify-content: center; } 
.flex:not(.center) .banner-text { flex-basis: calc(100% - var(--banner-page) - 50px); max-width: calc(100% - var(--banner-page) - 50px); }
}
@media (max-width: 599px) {
.banner-img {
    position: absolute; z-index: 0; 
    opacity: .25; min-width: 15rem; margin: auto; 
    left: 50%; top: 50%; right: 0; transform: translateX(-50%) translateY(-50%); }
.banner-text { padding: 0 2rem; position: relative; z-index: 1; text-align: center; }
}
@media (min-width: 600px) {
.title span { padding: 2rem 4rem; font-size: 100%; }
}

.default-list { margin-top: 3rem; }
.default-text h4 {
    color: var(--color-red);
    font-family: Chango;
    font-size: 2em;
    text-transform: uppercase; }
.default-text p,
.default-list li { font-size: 1.125em; }
.default-text > * + * { margin-top: 1.5rem; }
.default-list > * + * { margin-top: 2.5rem; }
.default-list li { line-height: 1.5; margin-bottom: 1rem; }
.default-list li strong { color: var(--color-red); font-family: Chango; text-transform: uppercase; font-size: 1.125em; }
.default-text blockquote {
    background-color: var(--color-red);
    display: block; padding: 2rem; margin-top: 3rem;
    color: var(--color-ambar); text-align: center; font-family: Chango; font-size: 1.75em;  }
.default-text blockquote p::before { content: '"'; display: block; font-size: 2em; line-height: 1; }

.default-big + .default-text { margin-top: 2rem; }
.default-big p {
    color: var(--color-red);
    font-size: 1.25em;
    font-family: chango; }
@media (min-width: 600px) {
.default-list { margin-top: 6rem; }
.default-list ul { display: flex; flex-direction: row; flex-wrap: wrap; margin-right: -1rem; }
.default-list li { flex: 1; margin-right: 1rem; padding-right: 10%; }
.default-text blockquote { padding: 2rem 15% 4rem; margin-top: 4rem; }
}
@media (max-width: 599px) {
.default-text { text-align: center; }
}

.media--items .blk-title, 
.media--items .blk-body { padding: 0; }
.media--items .blk-title { text-transform: uppercase; font-size: 2.5em; }

.blk-ziggy { 
    color: white; background-color: var(--color-blue);
    padding: 3rem 2rem 2rem; margin: 0 1rem 1rem; height: 100%; border-radius: 3rem; }
.blk-corpo { font-size: 12px; margin-top: 1.5rem; }
.blk-corpo > * + * { margin-top: 1rem; }
.blk-img .img { margin: auto; border-radius: 50%; height: 250px; width: 250px; object-fit: cover; }
.ziggy .blk-title { color: white; }
.ziggy .blk-item { margin-bottom: 1rem; }

.region-item { margin-bottom: 1.5rem; }
.region-head {
    display: block;
    background-color: var(--color-ambar);
    padding: 1.5rem;
    font-family: Chango;
    color: var(--color-red);
    font-size: 2em;
    line-height: 1;
    position: relative; }
.region-head::after { content: '+'; position: absolute; right: 2rem; }
.region-head[aria-expanded='true']::after { content: '-'; }
.region-list { padding: 2.5rem; border: 1px solid var(--color-ambar); }

.departamento { margin-bottom: 2rem; padding-right: 5%; }
.departamento-name { color: var(--color-red); font-size: 1.75em; }
.depa { font-size: 85%; margin-top: 1rem; padding-right: .5rem; }

.persona { padding-right: 1rem; }
.persona p { line-height: 1.25; margin-top: .5rem; }
.persona strong { display: block; text-transform: uppercase; font-size: 12px; margin-bottom: .25rem; }
.persona-name { font-weight: 500; font-size: 1.35em; line-height: 1.25; margin-bottom: .5rem; }

@media (max-width: 899px) {
.region-item { flex-basis: 100%; max-width: 100%; }
}
@media (max-width: 599px) {
.depa { flex-basis: 100%; max-width: 100%; margin-bottom: .5rem; }
}

.seudo-blk { padding-top: 6rem; }

.accordion-item { margin-bottom: .5rem; }

.collapse { display: none; transition: 2s max-height; max-height: 0; overflow: hidden; }
.uk-open .collapse { display: block; max-height: 1000px; }

.complete h3 { font-size: 2.5em; font-family: Chango; margin-bottom: 1rem; }
.complete h4 { font-size: 1.5em; text-transform: uppercase; margin-bottom: 2rem; }
.complete .button { margin-top: 2rem; }

.no-decorativo {
    background-size: cover;
    background-position: center 60%; }
.orange { background-color: var(--color-orange); }
.blue { background-color: var(--color-blue); }
.mediatext .blk-title { color: var(--color-ambar); }