.pagina-item .pageheader-image img { max-width: 200px; width: 200px; height: auto; }
@media (min-width: 600px) {
.pagina-item .pageheader-image img { max-width: 250px; width: 250px; }
}
@media (min-width: 900px) {
.pagina-item .pageheader-image img { max-width: 500px; width: auto; }
}

.pagina-item .pageheader-ghost .bread-items { justify-content: center; }

.impacto { margin-bottom: 2rem; }
.impacto-title { text-transform: uppercase; font-weight: 500; font-size: 1.75em;  margin: auto; color: var(--text-color); font-family: Chango; }
@media (min-width: 480px) {   
.impacto-title { max-width: 75%; }
}
@media (min-width: 900px) {  
.impacto {  margin-bottom: 3rem; } 
.impacto-title { max-width: 50%; }
}

.producto--thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--text-color);
    padding-top: .75rem;
    padding-bottom: .75rem; }
.producto--thumbnail-image,
.producto--thumbnail-summary { flex-basis: 20%; max-width: 20%; }
.producto--thumbnail-image img { margin: auto; width: 150px; }
.producto--thmubnail-title {
    color: var(--text-color);
    font-weight: 500; font-family: Chango;
    font-size: 1.5em;
    max-width: 30%;
    flex-basis: 30%; } 
.producto--thumbnail-button {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 1rem;
    max-width: 200px;
    text-align: center; 
    font-weight: 500;
    line-height: 1;
    border-radius: 1rem;
    transition: .3s background-color, .3s color; }
.producto--thumbnail:hover .producto--thumbnail-button { background-color: var(--background-color); color: var(--text-color); }
@media (max-width: 899px) {
.vista-thumbnails { display: flex; flex-wrap: wrap; justify-content: space-between; }
.vista-thumbnails .views-row { flex-basis: 30%; max-width: 30%; }
.producto--thumbnail { text-align: center; height: 100%; flex-wrap: wrap; }
.producto--thumbnail > * { flex-basis: 100%; max-width: 100%; margin-top: .25rem; margin-bottom: .25rem; }
}
@media (max-width: 899px) {
.vista-thumbnails .views-row { flex-basis: 49%; max-width: 49%; }
}

.pageheader-ghost,
.pageheader-message { max-width: 100%; flex-basis: 100%; order: -2; text-align: center; }
.pageheader-text-title { display: none; }
@media (min-width: 900px) { 
.pageheader-ghost { display: none; }
.pageheader-text-title { display: contents; }
}

.producto--variaciones form { margin-top: 1.5rem; }
.producto--variaciones input[type='submit'] {
    background-color: var(--color-red);
    color: wheat;
    border-radius: 2rem; margin: 1rem 0; } 
.producto--variaciones input[type='number'] {
    border: 2px solid var(--text-color);
    color: var(--text-color); font-family: Chango; font-size: 1em;
    background-color: transparent;
    max-width: 100px; padding: .5rem; }
.producto--variaciones input[type='submit']:hover {
    background-color: var(--text-color);
    color: var(--background-color); }
.producto--variaciones fieldset { margin-top: 1rem; }
.producto--variaciones label, 
.producto--variaciones legend {
    display: block; text-align: center; width: 100%;
    font-weight: 700; font-size: 13px; }
.producto--variaciones input + label {
    font-family: Chango; font-weight: 400; line-height: 1; 
    padding: .75rem;
    border-width: 2px !important;
    max-width: 140px; }

@media (min-width: 480px) {
.producto--variaciones label, .producto--variaciones legend { text-align: left; width: auto; }
}
@media (min-width: 480px) {
.producto--variaciones label, 
.producto--variaciones legend { font-size: 16px; }
}

.producto--condicional li {
    font-size: 14px; line-height: 1.5;
    margin-top: .5rem; }
.producto--condicional li::before { content: '- '; }

.producto-cuerpo { font-size: 1.25em; }
.producto-subtitle {
    text-align: center; font-family: Chango; font-size: 1.5em; 
    margin-top: 3rem; margin-bottom: 2rem; text-transform: uppercase; }
.producto-detalles { font-size: 1.25em; line-height: 1.5; }
.producto-detalles li::before { content: '- '; }

@media (min-width: 600px) {
.producto-cuerpo { margin: auto; max-width: 70%; }
.producto-detalles { max-width: 80%; margin: auto; }
}
@media (max-width: 599px) {
.producto-detalles > div { flex-basis: 100%; max-width: 100%; }
}

.not-home-product [data-drupal-messages] {
    background-color: var(--color-blue);
    color: white;
    font-family: Chango;
    font-size: 1.25em;
    padding: 1rem;
    margin-bottom: 2rem; }
.not-home-product [data-drupal-messages] a { border-bottom: 5px solid white; color: white; }

[data-class='premium'] .clipeado::after {
    background: 
    radial-gradient(
      circle at 100% 150%, 
      var(--background-color) 24%, 
      var(--background-secondary) 25%, 
      var(--background-secondary) 28%, 
      var(--background-color) 29%, 
      var(--background-color) 36%, 
      var(--background-secondary) 36%, 
      var(--background-secondary) 40%, 
      rgba(0,0,0,0) 40%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 0 150%, 
      var(--background-color) 24%, 
      var(--background-secondary) 25%, var(--background-secondary) 28%, 
      var(--background-color) 29%, 
      var(--background-color) 36%, 
      var(--background-secondary) 36%, 
      var(--background-secondary) 40%, 
      rgba(0,0,0,0) 40%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 50% 100%, 
      var(--background-secondary) 10%, 
      var(--background-color) 11%, 
      var(--background-color) 23%, 
      var(--background-secondary) 24%, var(--background-secondary) 30%, 
      var(--background-color) 31%, 
      var(--background-color) 43%, 
      var(--background-secondary) 44%, var(--background-secondary) 50%, 
      var(--background-color) 51%, 
      var(--background-color) 63%, 
      var(--background-secondary) 64%, var(--background-secondary) 71%, 
      rgba(0,0,0,0) 71%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 100% 50%, 
      var(--background-secondary) 5%, 
      var(--background-color) 6%, 
      var(--background-color) 15%, 
      var(--background-secondary) 16%, 
      var(--background-secondary) 20%, var(--background-color) 21%, 
      var(--background-color) 30%, 
      var(--background-secondary) 31%, 
      var(--background-secondary) 35%, 
      var(--background-color) 36%, 
      var(--background-color) 45%, 
      var(--background-secondary) 46%, 
      var(--background-secondary) 49%, 
      rgba(0,0,0,0) 50%, 
      rgba(0,0,0,0) 100%
    ), 
    radial-gradient(
      circle at 0 50%, 
      var(--background-secondary) 5%, 
      var(--background-color) 6%, 
      var(--background-color) 15%, 
      var(--background-secondary) 16%, 
      var(--background-secondary) 20%, var(--background-color) 21%, 
      var(--background-color) 30%, 
      var(--background-secondary) 31%, 
      var(--background-secondary) 35%, 
      var(--background-color) 36%, 
      var(--background-color) 45%, 
      var(--background-secondary) 46%, 
      var(--background-secondary) 49%, 
      rgba(0,0,0,0) 50%, 
      rgba(0,0,0,0) 100%
    ), 
    rgb(165, 207, 249);
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 100px 50px;
}
[data-class='barquillos'] .clipeado::after {
  background: radial-gradient(#A6B4D8 15%, transparent 16%), radial-gradient(#A6B4D8 15%, transparent 16%), #D3DFFF;
  background-position: 0 0, 80px 80px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 160px 160px; }
[data-class='rollos'] .clipeado::after { 
    background: 
        linear-gradient(335deg, var(--background-color) 23px, rgba(0,0,0,0) 23px), 
        linear-gradient(155deg, var(--background-color) 23px, rgba(0,0,0,0) 23px), 
        linear-gradient(335deg, var(--background-color) 23px, rgba(0,0,0,0) 23px), 
        linear-gradient(155deg, var(--background-color) 23px, rgba(0,0,0,0) 23px), 
        linear-gradient(335deg, var(--background-color) 10px, rgba(0,0,0,0) 10px), 
        linear-gradient(155deg, var(--background-color) 10px, rgba(0,0,0,0) 10px), 
        linear-gradient(335deg, var(--background-color) 10px, rgba(0,0,0,0) 10px), 
        linear-gradient(155deg, var(--background-color) 10px, rgba(0,0,0,0) 10px), 
        var(--background-secondary);
  background-position: 0 2px, 4px 35px, 29px 31px, 33px 6px, 0 36px, 4px 2px, 29px 6px, 33px 30px;;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 58px 58px; }
.not-home-product .pageheader-text { 
    background-color: var(--background-color);
    padding: 2rem 2rem 1rem; }