.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: #fff;  
        display: flex; 
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }
    .swiper-container img {
        max-width: 100%;
    }
    .swiper-container .swiper-button-prev,
    .swiper-container .swiper-button-next {
        background-image: none;
        width: 40px;
    }
    .swiper-button-next::before,
    .swiper-button-prev::before {
        content: '';
        width: 40px;
        height: 2px;
        display: block;
        position: absolute;
        background-color: var(--color-verde);
        margin: auto;
        top: 0;
        bottom: 0;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
        border-bottom: 2px solid var(--color-verde);
        border-right: 2px solid var(--color-verde);
        transform: rotate(-45deg);
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
    }
    .swiper-button-prev::after {
        left: 0;
        right: auto;
        transform: rotate(135deg);
    }