{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{%
    set classes_fields = [
      'fields', 'flex',
    ]
%}

{% if label_hidden %}

  {% if multiple %} {# sin label multiple #}
    <ul{{ attributes.addClass(classes_fields) }}>
      {% for item in items %}
        <li class="field field-0{{ loop.index }}" {{ item.attributes }}>{{ item.content }}</li>
      {% endfor %}
    </ul>

  {% else %} {# sin label unico #}

    {% for item in items %}
      {#<div{{ attributes }}>#}{{ item.content }}{#</div>#}
    {% endfor %}

  {% endif %}

{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}