{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<nav class="uk-navbar-container" uk-navbar>
        <ul class="menu flex uk-navbar-nav" role="menubar">
            {% for item in items %}
            <li class="mmain-item dropdown uk-parent uk-inline" role="menuitem" data-counter="mmain-item-0{{ loop.index }}">
                {{ item.content }}
            </li> 
            {% endfor %}
        </ul>
</nav>              